$text: #022541;
$text-alpha: #666668;
$border: #D9D9D9;
$brand: #11A63E;
.menu-mobile, .ic-close-menu-mb, .menu-mobile-2
 {
    display: none;
}

@media only screen and (max-width: 1550px) {
    .khoi-ngiep .img-pattern-home {
        max-width: 250px;
        bottom: 0;
        top: inherit;
    }
    .img-pattern-home {
        max-width: 200px;
    }
    .section-hang-muc .col-md-4:nth-child(2) .hang-muc {
        margin-left: 0;
    }
    .time-doing p {
        font-size: 24px;
        line-height: 27px;
        span {
            font-size: 55px;
            line-height: 55px;
        }
    }
    .tab-library .nav-item {
        padding: 12px 10px 12px 0;
        font-size: 14px;
    }
    .header-1 {
        padding: 10px 20px 10px 20px;
        .logo-default img {
            height: 34px;
        }
    }
    .tab-service .tab-content .row {
        padding: 50px 50px 20px 50px;
    }
    h2{
        font-size: 32px;
        line-height: 45px !important;
    
    }
    .box-value{
        min-height: auto;
    }
    .bieu-phi-table{
        .custom-scrollbar{
            overflow-x: scroll;
        }
    }
    .info-why-choose h3 span {
        font-size: 26px;
    }
    .title-section h2 span{
        font-size: 32px;
    }
   
    .list-post-library p {
        padding-right: 0px;
    }
    .item-service{
        align-items: start;
        
        a {
            line-height: 26px;
            font-size: 18px;
        }
        
    }
    h1 {
        font-size: 48px;
    }
    .cate-services{
        .item-service{
            p {
                line-height: 22px;
            }
        }
        .col-md-3 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .banner-home .info-banner-left{
        padding-left: 50px;
        h1 {
            font-size: 32px;
            span {
                font-size: 32px;
                &:last-child{
                    font-size: 32px;
                }
            }
        }
    } 
    .tab-service .tab-content .row {
        padding: 100px 50px 50px 50px;
        .col-md-3 {
            -ms-flex: 0 0 33%;
            flex: 0 0 33%;
            max-width: 33%;
        }
    }
    .box-value .large-text {
        font-size: 150px;
    }
    .info-campaign {
        padding-right: 145px;
    }
    .info-right-campaign{
        .btn-common-white{
            font-size: 16px;
        }
    }
    .info-why-choose p {
        padding: 10px 0 0 0;
    }
    .why-choose{
    ul li {
        padding-left: 110px;
        img {
            height: 90px;
        }
    }
    }
    .call-to-action-btn{
        display: block;
        bottom: 50px;
        position: fixed;
        right: 5px;
        z-index: 1 !important;
        .coccoc-alo-ph-circle {
            width: 70px;
            height: 70px;
            top: 55px;
            left: 55px;
            position: absolute;
            background-color: transparent;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            border: 2px solid $brand;
            opacity: .1;
            -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
            -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
            -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
            -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
            animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
        }
        
        .coccoc-alo-phone {
            background-color: transparent;
            width: 90px;
            height: 90px;
            margin-right: 30px;
            cursor: pointer;
            z-index: 200000 !important;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0);
            -webkit-transition: visibility .5s;
            -moz-transition: visibility .5s;
            -o-transition: visibility .5s;
            transition: visibility .5s;
            right: 150px;
            top: 30px;
        }
        
        .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
            background-color: #11A63E;
            box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.11);
            opacity: .75 !important;
        }
        
        .coccoc-alo-ph-circle-fill {
            width: 60px;
            height: 60px;
            top: 60px;
            left: 60px;
            position: absolute;
            background-color: #000;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            border: 2px solid transparent;
            opacity: .1;
            -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
            -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
            -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
            -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
            animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
        }
    
        .coccoc-alo-ph-img-circle {
            
            width: 40px;
            height: 40px;
            top: 70px;
            left: 70px;
            position: absolute;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
           
            -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
            -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
            -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
            -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
            animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
        }
        
        .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
            background-color: #11A63E;
        }
        
        .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
            border-color: #11A63E;
            opacity: .6;
        }
        
        .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
        .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
            border-color: $brand;
            opacity: .5;
        }
        
        .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
        .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
            background-color: #11A63E;
            opacity: .75 !important;
        }
        
        .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
        .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
            background-color: #11A63E;
        }
        
        @-moz-keyframes coccoc-alo-circle-anim {
            0% {
                transform: rotate(0) scale(.5) skew(1deg);
                opacity: .1
            }
            30% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .5
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .1
            }
        }
        
        @-webkit-keyframes coccoc-alo-circle-anim {
            0% {
                transform: rotate(0) scale(.5) skew(1deg);
                opacity: .1
            }
            30% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .5
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .1
            }
        }
        
        @-o-keyframes coccoc-alo-circle-anim {
            0% {
                transform: rotate(0) scale(.5) skew(1deg);
                opacity: .1
            }
            30% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .5
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .1
            }
        }
        
        @keyframes coccoc-alo-circle-anim {
            0% {
                transform: rotate(0) scale(.5) skew(1deg);
                opacity: .1
            }
            30% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .5
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .1
            }
        }
        
        @-moz-keyframes coccoc-alo-circle-fill-anim {
            0% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .2
            }
            100% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
        }
        
        @-webkit-keyframes coccoc-alo-circle-fill-anim {
            0% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .2
            }
            100% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
        }
        
        @-o-keyframes coccoc-alo-circle-fill-anim {
            0% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .2
            }
            100% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
        }
        
        @keyframes coccoc-alo-circle-fill-anim {
            0% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .2
            }
            100% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
        }
        
        @-moz-keyframes coccoc-alo-circle-img-anim {
            0% {
                transform: rotate(0) scale(1) skew(1deg)
            }
            10% {
                transform: rotate(-25deg) scale(1) skew(1deg)
            }
            20% {
                transform: rotate(25deg) scale(1) skew(1deg)
            }
            30% {
                transform: rotate(-25deg) scale(1) skew(1deg)
            }
            40% {
                transform: rotate(25deg) scale(1) skew(1deg)
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg)
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg)
            }
        }
        
        @-webkit-keyframes coccoc-alo-circle-img-anim {
            0% {
                transform: rotate(0) scale(1) skew(1deg)
            }
            10% {
                transform: rotate(-25deg) scale(1) skew(1deg)
            }
            20% {
                transform: rotate(25deg) scale(1) skew(1deg)
            }
            30% {
                transform: rotate(-25deg) scale(1) skew(1deg)
            }
            40% {
                transform: rotate(25deg) scale(1) skew(1deg)
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg)
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg)
            }
        }
        
        @-o-keyframes coccoc-alo-circle-img-anim {
            0% {
                transform: rotate(0) scale(1) skew(1deg)
            }
            10% {
                transform: rotate(-25deg) scale(1) skew(1deg)
            }
            20% {
                transform: rotate(25deg) scale(1) skew(1deg)
            }
            30% {
                transform: rotate(-25deg) scale(1) skew(1deg)
            }
            40% {
                transform: rotate(25deg) scale(1) skew(1deg)
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg)
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg)
            }
        }
        
        @keyframes coccoc-alo-circle-img-anim {
            0% {
                transform: rotate(0) scale(1) skew(1deg)
            }
            10% {
                transform: rotate(-25deg) scale(1) skew(1deg)
            }
            20% {
                transform: rotate(25deg) scale(1) skew(1deg)
            }
            30% {
                transform: rotate(-25deg) scale(1) skew(1deg)
            }
            40% {
                transform: rotate(25deg) scale(1) skew(1deg)
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg)
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg)
            }
        }
    
       .img-dat-lich-mb .coccoc-alo-ph-img-circle{
            background:  url(../images/ic-dat-lich-mb.svg) no-repeat center center;
            
        }
        .img-hot-line .coccoc-alo-ph-img-circle {
            background:  url(../images/ic-call-mb.svg) no-repeat center center;
        }
    }
    
}
@media only screen and (max-width: 1201px) {
    .contact-right .btn-dat-hen, .contact-right .hotline{
        display: none;
    }
    .contact-right{
        padding-right: 50px;
    }
    .header-1{
        .menu nav{
            display: none;
        }
       
    }
    header{
        &.show-menu{
            .menu nav{
                display: block;
                position: fixed;
                left: 0;
                top: 54px;
                width: 100%;
                height: 100%;
                border-top: 1px solid $border;
                ul {
                    display: inline-block;
                    width: 100%;
                    padding-top: 30px;
                    background-color: #fff;
                    height: 100%;
                    li {
                        width: 100%;
                        padding: 20px 0;
                        a{
                            font-size: 24px;
                            font-family: 'Google Sans', sans-serif;
                           
                        }
                        &::before {
                            font-size: 20px;
                            right: 20px;
                            top: 8px;
                            z-index: 1;
                        }
                        .sub-menu{
                            display: none;
                        }
                        &.show-sub-menu{
                            &::before{
                                transform: rotateX(180deg);
                            }
                            .sub-menu{
                                display: block;
                                background-color: #f8f9fa;
                                width: 100%;
                                box-shadow: none;
                                border-top: 0;
                                left: 0;
                                top: 15px;
                                position: relative;
                                -webkit-transition: none;
                                transition: none;
                                padding: 10px 0 0 ;
                                li{
                                    margin-bottom: 0;
                                    width: 100%;
                                    padding-left: 20px;
                                    a{
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .ic-menu-mb{
                display: none;
            }
            .ic-close-menu-mb{
                display: block;
            }
        }
    }
    .menu-mobile-2{
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
        .ic-menu-mb{
            height: 20px;
        }
        .ic-close-menu-mb{
            height: 35px;
            top: -7px;
            position: absolute;
            right: 0;
        }
   }
}
@media only screen and (max-width: 950px) {
 
    .khoi-ngiep{
        .img-pattern-home {
           display: none;
        }
    }
  .section-hang-muc{
    .row.mt-30{
        margin-top: 20px;
    
    }
    .col-md-4:nth-child(2){
        padding-right: 0;
        .hang-muc{
            border-radius: 8px 0 0 8px;
        }
    }
    .col-md-4:nth-child(3){
        padding-left: 0;
        .hang-muc{
            border-radius: 0 8px 8px 0;
        }
    }
    .time-doing {
        display: inherit;
        margin-bottom: 0;
        width: fit-content;
        margin: 0 auto;
        border-radius: 4px 4px 0 0;
        padding: 10px 20px 5px 20px;
        border: 1px solid #11A63E;
        border-bottom: 0;
        p {
            text-align: center;
            br{
                display: none;
            }
            span{
                font-size: 40px;
                line-height: 40px;
            }
        }
    }
    .col-md-4:first-child {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-4{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
  }
    .info-contact-box {
        padding: 0;
    }
    .info-contact .avatar-thumb a {
        padding-top: 46%;
    }
    .box-date-time-lib {
        .list-post-library {
            ul li {
                font-size: 14px;
                margin: 0 25px;

                span{
                    font-size: 14px;
                }
            }
            .btn-common-white{
                max-width: fit-content;
            }
        }
    }
    .breadcrumbs {
        padding-bottom: 10px;
        display: inline-block;
    }
    .back-to-link{
        margin-bottom: 20px;
    }
    .section-library{
        .sticky-box{
            h5{
                margin-bottom: 10px;
            }
        }
        .col-md-2, .col-md-8 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .tab-library .nav-tabs{
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            height: auto;
            white-space: nowrap;
            width: 100%;
            flex-wrap: unset;
            justify-content: left;
        }
        .tab-content{
            margin-top: 30px;
        }
    }
    .list-post-library p {
        padding-right: 10px;
        font-size: 14px;
    }
    .section-detail-blogs{
        .col-md-3, .col-md-9 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .tab-content-blog {
            padding-right: 0;
            ul{
                display: flex;
                overflow-x: scroll;
                height: auto;
                white-space: nowrap;
                width: 100%;
                flex-wrap: unset;
                justify-content: left;
                li{
                    margin: 10px;
                    padding-right: 10px;
                    border-right: 1px solid $border;
                }
            }
        }
    }
    .head-blogs-cate{
        padding-bottom: 0;
    }
   
    .slider-item-blogs{
        h2{
            font-size: 30px;
        }
    }
    .list-blogs-cate{
        .col-md-3 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .accordion {
        margin-top: 0;
    }
    .hh-videos{
        .overlay {
            width: 100%;
            margin: 0 auto;
            height: 375px;
            display: none;
        }
        .video-cans {
            height: 375px;
        }
        .overlay._active iframe {
            height: 375px;
        }
    }
    .cam-ket{
        .col-md-3 {
            -ms-flex: 0 0 33%;
            flex: 0 0 33%;
            max-width: 33%;
        }
    }
    .chi-tiet-phi{
        padding: 0 10px;
        .list-check {
            padding: 20px;
        }
    } 
    .tieu-de-phi{
        padding: 40px 40px 0 65px;
        img {
            left: 20px;
        } 
    }   
    .process{
        .box-process{
            margin-bottom: 15px;
        }
        .col-md-2 {
            -ms-flex: 0 0 33%;
            flex: 0 0 33%;
            max-width: 33%;
        }
    }
    .section-hang-muc{
        padding-bottom: 0;
    }
    .banner-head-detail{
        .flex-center{
            display: inline-block;
            img {
                max-width: 100%;
            }
        }
        .banner-head-right {
            width: 100%;
            padding-right: 0;
            margin-bottom: 20px;
        }
    }
    .hang-muc {
        padding: 30px 20px;
        &.bg-blue {
            padding-left: 20px;
        }
    }
    .pattern-hang-muc {
        height: 200px;
    }
    .section-intro-services{
        .row{
            flex-direction: column-reverse;
        }
        .col-md-6{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        
        }
    }
    .title-section h2 {
        line-height: 42px;
        font-size: 32px;
        span{
            font-size: 32px;
        }
    }
   .banner-home{
    overflow: hidden;
        .flex-center{
            display: initial;
        }
        .info-banner-left, .info-banner-right {
            width: 100%;
        }
        .info-banner-right{
            padding-top: 30px;
        }
   }
   .tab-system .nav-tabs .nav-link {
        padding: 15px 20px;
     }
     .tab-service .tab-content .row{
        padding: 35px 50px 10px 50px;
        .col-md-3 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
     }
     .box-value {
        display: inherit;
        .large-text {
            font-size: 100px;
            padding-right: 0;
        }
        .info-value{
            margin-top: 30px;
            display: inline-block;
        }
    }
    .count-number {
        display: inline-block;
    }
    .list-number {
        width: 50%;
        float: left;
        margin-bottom: 30px;
        &:nth-child(3) {
            width: 200px;
            height: 200px;
        }
        .nubmer-growth {
            padding: 20px;
            height: 198px;
            width: 198px;
        }
    }
    .list-partner{
        padding-top: 0;
        img {
            height: 35px;
            margin: 10px;
        }
    }
    .img-pattern-home{
        display: none;
    }
    .info-campaign {
        padding-right: 20px;
        .title-section h2{
            font-size: 24px;
            span {
                font-size: 24px;
            }
        }
    }
    .text-campaign{
        .img-quote{
            height: 50px;
        }
        h4 {
            font-size: 20px;
        }
    } 
    .khoi-ngiep{
        .col-md-8 {
            -ms-flex: 0 0 55%;
            flex: 0 0 55%;
            max-width: 55%;
        }
        .col-md-4 {
            -ms-flex: 0 0 45%;
            flex: 0 0 45%;
            max-width: 45%;
        }
    }
    .box-countdown{
        p:last-child {
            margin-left: 0;
        }
        #timer span {
            font-size: 35px;
        }
    } 
  
    .why-choose ul {
        margin-bottom: 0;
        li{
            padding-left: 65px;
            padding-right: 20px;
            margin-bottom: 15px;
            img {
                height: 50px;
            }
            h3 {
                font-size: 20px;
                span {
                    font-size: 20px;
                }
            }
        } 

    }
    .info-why-choose p {
        font-size: 16px;
        line-height: 24px;
    }
    .call-to-action .info-call-to-action{
        .text-cta {
            padding-right: 0;
            h3 {
                line-height: 35px;
                font-size: 26px;
            }
        }
        img {
            max-width: 350px;
        }
    } 
    .section-list-services{
        h4{
            font-size: 18px;
        }
    }
    footer .info-footer-left {
        padding-right: 0;
    }
}
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 32px !important;
    }
    h3{
        font-size: 26px !important;
    }
    h4{
        font-size: 20px !important;
    }
    .section-hang-muc .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        &:nth-child(2) {
            padding-right: 15px;
            .hang-muc{
                border-radius: 8px 8px 0 0;
            }
        }
        &:nth-child(3) {
            padding-left: 15px;
            .hang-muc{
                border-radius: 0 0 8px 8px;
            }
        }
    }
    .section-library, .section-detail-blogs .editor-body{
        .tab-content{
            max-width: 100%;
        }
    }
    .list-blogs-cate{
        padding-top: 30px;
    }
    .slider-item-blogs .item.box-item{
        display: inherit;
        h2{
            padding-right: 0;
        }
    }
    .head-blogs-cate .owl-dots {
        text-align: center;
       
        .owl-dot{
            height: auto;
        }
    }
    .section-contact{
        .row{
            flex-direction: column-reverse;
        }
    }
    .section-detail-blogs .tab-content-blog, .section-library .sticky-box {
        padding-left: 0;
    }
    .box-date-time-lib .list-post-library{
        text-align: center;
        .btn-common-white {
            margin: 10px auto 0 auto;
        }
    }
    .khoi-ngiep{
        .btn-action{
            text-align: center;
            a{
                margin-top: 10px;
            }
        }
    }
    .box-countdown{
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
        #timer{
            justify-content: center;
        }
    }
    .service-home{
        .custom-scrollbar{
            overflow-x: scroll;
        }
    }
    .bieu-phi {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .value-home{
        .row.mt-40{
            margin-top: 10px;
        }
    }
    .header-1 {
        padding: 15px 20px 10px 20px
    }
    .banner-home .info-banner-left h5{
        font-size: 18px;
        line-height: 26px;
    }
    .select-items div, .select-selected {
        font-size: 14px;
    }
    .section-contact{
        padding-bottom: 40px !important;
    }
    .box-shadow{
        padding: 20px;
    }
    .info-contact {
        margin-top: 20px;
        .avatar-thumb{
            margin-bottom: 10px;
        }
       
        .hotline-contact {
            font-size: 24px;
            img {
                height: 30px;
                margin-bottom: 10px;
            }
        }
    }
    .tab-content-blog ul li {
        margin: 5px 10px !important;
        a {
            font-size: 14px;
        }
    }
    .head-lib h3 {
        font-size: 24px;
        max-width: 100%;
    }
    .box-date-time-lib .list-post-library ul li {
        margin: 0;
        margin-right: 14px;
        margin-bottom: 5px;
    }
    .list-post-library {
        display: inline-block;
        padding: 20px 0;
        
    }
    .section-library{
        .pagging-page.mt-40{
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
    .btn-action-lib {
        display: flex;
        max-width: 100%;
        justify-content: left;
        margin-top: 15px;
       a{
        margin-right: 20px;
        font-size: 14px;
        padding: 10px;
        max-width: 50%;
        width: 100%;
        &:last-child{
            margin-right: 0;
        }
       }
    }
    .list-tag {
        padding-top: 25px;
        ul {
            
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }
   
   
    .info-call-to-action{
        .btn-action a{
            font-size: 16px;
        }
    }
    .pagging-page ul li a, .pagging-page ul li span {
        width: 35px;
        height: 35px;
        margin-right: 5px;
        font-size: 14px;
        padding: 5px;
        &.active {
            padding-top: 5px;
        }
        
    }
    .pagging-page .pagination {
        i {
            font-size: 14px;
        }
    }
    .pagging-page.mt-40.mb-30{
        margin: 20px 0 10px 0;
    }
    .list-blogs-cate{
        .item-news {
            position: relative;
            margin-bottom: 20px;
            padding-left: 150px;
            h5 {
                padding-top: 0;
                .title-news {
                    -webkit-line-clamp: inherit;
                    font-size: 16px;
                }
            }
            .name-cate {
                margin-top: 0;
            }
        }
        .avatar-thumb {
            position: absolute;
            left: 15px;
            width: 120px;
        }
        .col-md-3 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
   
    .danh-gia-kh{
        padding-top: 40px !important;
    }
    .info-campaign {
        padding: 15px;
    }
   .info-right-campaign{
    display: none;
   }
   .khoi-ngiep{
    padding-bottom: 0;
   }
    #faq .card .card-header .btn-header-link {
        font-size: 16px;
        padding: 10px 25px;
        padding-left: 0;
        &:after {
            right: 0;
            top: 6px;
        }
    }
    #faq .card .card-body {
        font-size: 14px;
        padding-left: 0;
        line-height: 22px;
    }
    .hh-videos {
        width: 100%;
        .video-cans, .overlay {
            height: 195px;
        }
        .overlay._active iframe{
            height: 195px;
        }
    }
    .cam-ket {
        .row{
            justify-content: center;
        }
        .col-md-3 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .box-camket {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        p{
            padding-left: 0;
            font-size: 16px;
            margin-bottom: 0;
        }
        img{
            margin-bottom: 10px;
        }
    }
    .table-bieu-phi p {
        font-size: 16px;
    }
    .table-thanh-phan{
        td {
            font-size: 14px;
        }
        thead th {
            font-size: 15px;
    
        }
    } 
    .time-doing p {
        font-size: 18px;
    }
    .bieu-phi{
        .col-md-4{
            padding: 0;
        }
        .chi-tiet-phi{
            margin-bottom: 10px;
        }
    }
    .section-hang-muc{
        .col-md-6{
            padding-left: 0;
            padding-right: 0;
        }
        .hang-muc{
            border-radius: 0;
        }
    }
    .process .col-md-2 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .box-process{
        min-height: auto;
        img {
            height: 55px;
            margin-bottom: 10px;
        }
    } 
   
    .banner-head-detail h1 {
        margin-top: 0;
    }
    .cate-services {
        margin: 30px 0;
       
        .item-service{
            
            p{
                -webkit-line-clamp: inherit;
            }
           
            &.services-large {
                padding-left: 120px;
                min-height: auto !important;
                .avatar-thumb {
                    width: 90px;
                }
            }
        }
    }
    .cate-services{
       
        .col-md-3 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .info-item-services a {
            margin-bottom: 10px;
        }
        .info-item-services a {
            margin-bottom: 10px;
        }
    } 
    .item-service {
        a {
            line-height: 22px;
            font-size: 16px;
            padding-left: 0;
            padding-right: 20px;
            &:first-child{
               padding-right: 0;
            }

        }
    }
    .banner-home {
        padding-top: 80px;
        .btn-search-service-pc{
            display: none;
        }
        .btn-search-service-mb{
            display: block;
        }
        .info-banner-left {
            padding-left: 20px;
        }
    }
    .box-search{
        .custom-select {
            padding-left: 1px;
        }
        button {
            max-width: fit-content;
            padding-right: 30px;
            padding-left: 20px;
            padding-top: 15px;
        }
        .select-selected:after {
            right: 0;
        }
    }
    .tab-system .nav-tabs .nav-link {
        padding: 10px 10px;
        font-size: 14px;
    }
    .tab-service .tab-content .row{
        padding: 35px 20px 10px 20px;
        .col-md-3 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 10px;
        }
    } 
    .section-hang-muc{
        .list-check{
            margin-bottom: 0;
            li{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .cate-services .item-service.services-large .info-item-service{
        padding-top: 0;
    }
    .why-choose ul li{
        padding-right: 0;
        p {
            padding-right: 0;
        }
    }
    .item-service{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .info-campaign .title-section h2 span {
        font-size: 22px;
    }
    .title-section h2 {
        line-height: 32px !important;
        font-size: 24px;
    }
    .why-choose ul li h3 {
        font-size: 20px !important;
    }
    .value-home{
        padding-bottom: 0;
    }
    .detail-info-aut{
        h5{
            font-size: 16px;
        }
    }
    .info-aut .detail-info-aut p{
        font-size: 14px;
    }
    .box-value {
        padding: 30px;
        padding-top: 35px;
        margin-bottom: 10px;
        min-height: auto;
        height: inherit;
        position: relative;
        h3{
            position: absolute;
            top: 25px;
            left: 30px;
        }
        .large-text {
            display: none;
        }
        p {
            line-height: 24px;
            margin-bottom: 0;
        }
    }
    .list-number{
        margin-bottom: 10px;
        p {
            font-size: 14px;
        }
        h2 {
            font-size: 32px;
        }
        &:nth-child(3) {
            width: 150px;
            height: 150px;
        }
        .nubmer-growth {
            h2{
                font-size: 22px;
            }
            padding: 5px;
            padding-top: 20px;
            height: 148px;
            width: 148px;
        }
    }
    .khoi-ngiep .col-md-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .title-section h2 span {
        font-size: 22px;
    }
    .khoi-ngiep{
        padding-top: 0;
        .col-md-8{
            padding-left: 0;
        }
        .col-md-4 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0;
            border-radius: 0;
        }
    }
    .info-campaign {
        padding: 20px 15px 0 20px;
    }
    .box-countdown #timer span {
        font-size: 30px;
    }
    .text-campaign .img-quote{
        display: none;
    }
    .slider-items p {
        font-size: 15px;
        padding-left: 35px;
        .quote-slide{
            height: 24px;
        }
    }
    .info-aut {
        margin-left: 0;
        margin-top: 20px;
    }
    .why-choose ul{
        margin-top: 25px;
        li{
            width: 100%;
            &:last-child{
                margin-bottom: 0;
            }
        }
    } 
    .call-to-action .info-call-to-action {
        display: flex;
        flex-flow: column-reverse;
        text-align: center;
        .text-cta h3 {
            line-height: 26px;
            font-size: 20px !important;
        }
        img {
            max-width: 300px;
            margin: 0 auto;
            text-align: center;
        }
        .btn-action{
            margin-bottom: 10px;
        }
    }
    .section-list-services{
        padding-top: 20px;
        .col-md-3{
            &:last-child{
                ul{
                    margin-bottom: 0;
                }
            }
        }
    }
    .list-services-detail {
        margin-top: 10px;
        margin-bottom: 22px;
       
        li {
            margin-bottom: 8px;
            font-size: 13px;
            width: 50%;
            float: left;
        }
    }
    footer{
        padding-bottom: 10px;
        .col-md-3 ul{
            margin-bottom: 0;
            li{
                margin-bottom: 5px;
                width: 50%;
                float: left;
                a{
                    font-size: 13px;
                }
            }
        }
        .info-footer-left{
            .logo-ft img {
                height: 30px;
            }
            .flex-center {
                margin-bottom: 20px;
                a {
                    font-size: 14px;
                    margin-right: 20px;
                }
            }
        } 
    } 
    .header-1{
        height: 55px;
        .logo-default img {
            height: 24px;
        }
    } 
    .menu-mobile-2 {
        top: 18px;
    }
    header.show-menu .menu nav {
        top: 55px;
        ul {
            padding-top: 10px;
        }
    }

}
@media only screen and (max-width: 350px) {
    .box-process h5{
        font-size: 16px;
    }
    .section-hang-muc .time-doing p {
        font-size: 16px;
        span {
            font-size: 30px;
            line-height: 40px;
        }
    }
    .list-blogs-cate .item-news .name-cate {
       font-size: 14px;
    }
}