$text: #022541;
$text-alpha: #666668;
$border: #D9D9D9;
$brand: #11A63E;
$bg:#F6FCFA;
.bg{
	background-color: $bg;
}
a {
	&:hover {
		text-decoration: none;
	}
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}


h1 {
	font-size: 64px;
	font-family: 'Google Sans Bold';
}

h2 {
	font-size: 48px;
	font-family: 'Google Sans Bold';
}

h3 {
	font-size: 32px;
	font-family: 'Google Sans Bold';
}

h4 {
	font-size: 28px;
	font-family: 'Google Sans Bold';
}

h5 {
	font-size: 20px;
	font-weight: 500;
}

h6 {
	font-size: 18px;
	font-family: 'Google Sans Bold';
}


b,
span,
i,
label {
	font-size: 13px;
}

section {
	padding: 40px 0;
	display: block;
	width: 100%;
	overflow: hidden;
}

.title-section {
	h2 {
		display: inline-block;
		width: 100%;
		line-height: 70px;

	}

}


a {
	text-decoration: none;
}

.fw-normal {
	font-family: 'Google Sans', sans-serif;
}

.fw-bold, strong {
	
	font-family: 'Google Sans Bold';
}

.flex-center {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}


.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-80 {
	margin-top: 80px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.pb-70 {
	padding-bottom: 70px;
}
.pt-80{
	padding-top: 80px;
}
.pt-100 {
	padding-top: 100px;
}
.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.p0 {
	padding: 0;
}

.pd-left {
	padding-left: 30px;
}

.pd-right {
	padding-right: 30px;
}

.center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.text-main {
	color: $text;
}

.text-white {
	color: #fff;
}

.text-brand {
	color: $brand;
}

.text-uppercase {
	text-transform: uppercase;
}

.none-overflow {
	overflow: inherit;
}
.sticky-box{
	position: -webkit-sticky !important;
	position: sticky !important;
	top: 100px !important;
}
.none-uppercase {
	text-transform: inherit;
}

.text-alpha {
	color: $text-alpha;
}

.btn.focus,
.btn:focus {
	box-shadow: none;
}

body {
	font-family: 'Google Sans', sans-serif;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 24px;
	font-size: 16px;
}

.container {
	max-width: 1500px;
	margin: auto;
}

button:focus {
	outline: 0;
}

.btn-action {
	display: inline-block;
	width: 100%;

	a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	button {
		outline: none;
	}

	span {
		padding-left: 5px;
		font-weight: 900;
	}
}

.btn-common-white {
	background: #fff !important;
	border: 1px solid transparent  !important;
	color: $brand!important;
	&:hover{
		color: #fff !important;
	}
}

input[type=button],
input[type=submit],
input[type=reset] {
	color: white !important;
}

.btn-common-fill, .btn-common-white, button, input[type=button], input[type=submit] {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $brand;
	padding: 10px 22px;
	color: white;
	text-align: center;
	transition: all .3s ease-in-out !important;
	color: white;
	height: 48px;
	line-height: 24px;
	font-weight: 500;
	font-size: 18px;
	border-radius: 70px;
	border: 1px solid transparent;
	&:hover{
		background: #23b74f !important;
		color: white;
	}
	span,
	img {
		font-weight: 600;
		margin-right: 10px;
		height: 22px;
	}
	i{
		margin-left: 10px;
		font-weight: 700;
	}
}




textarea {
	height: 100px !important;
	padding-top: 12px !important;
}

input,
select,
textarea {
	border: 1px solid $border;
	border-radius: 4px;
	color: $text;
	width: 100%;
	padding: 5px 15px;
	height: 45px;
	font-size: 14px;

	&::placeholder {
		color: #D9D9D9;
	}

	&:focus {
		border: 1px solid $border;
	}
}

::-webkit-calendar-picker-indicator {
	filter: invert(0.6);
}


.avatar-thumb {
	display: inline-block;
	width: 100%;

	a {
		position: relative;
		padding-top: 56%;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}

}

.form-control:focus {
	border-color: $brand;
	outline: 0;
	box-shadow: none;
}


.breadcrumbs {
	padding-bottom:30px;
	display: flex;
	align-items: center;
	i {
		color: #fff;
		font-weight: 600;
		&.ti-angle-right{
			font-size: 13px;
			color: #fff;
		}
	}

	a {
		color: #fff;
		font-size: 13px;
		padding:0 5px;
	}
}
.editor-body{
  
	ul, ol{
	  padding-left: 15px;
	}
	span, p, b, strong, label, i{
	  font-size: initial !important;
	  width: initial!important;
	  height: initial!important;
	  font-weight: initial!important;
	}
	h1, h2, h3, h4, h5, h6{
	  font-size: initial!important;
	  width: initial!important;
	  font-weight: initial!important;
	  height: initial!important;
	  margin: 20px 0;
	  span, p, b, strong, label, i{
		font-size: initial!important;
		width: initial!important;
		font-weight: initial!important;
		height: initial!important;
	  }
	}
	img{
		max-width:100% !important;
		margin: 20px auto ;
		  
	}
  }
/* ----------------------- Modal----------------------- */
.modal {
	padding: 80px 0;
}

.modal-body, form {
	padding-top: 15px;
	.btn-action{
		text-align: right;
		.btn-common-fill{
			width: fit-content;
		}
	}

	label{
		font-size: 16px;
	}
	.form-group{
		margin-bottom: 20px;
	}
	.btn-common-fill{
		margin-top: 15px;
	}
}

.modal-content {
	margin: auto;
	padding: 22px 15px 15px 15px;
	border-radius: 8px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
	border: 0;
}

.modal-dialog {
	max-width: 560px;
	margin: 0 auto;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.modal-header {
	padding: 0 10px;
	border-bottom: 0;

	.close {
		position: absolute;
		right: 45px;
		top: 50px;
		opacity: 1;
		padding: 0;
		height: inherit;
		i {
			font-size: 20px;
			color: $text;
			opacity: 1;
			font-weight: 600;
			margin: 0;
		}
		&:hover{
			background: transparent !important;
			opacity: 1;
		}
	}
}

.modal-title {
	font-weight: 600;
}
.two-filed-col {
	.form-group {
		width: 250px;

		&:first-child {
			margin-right: 20px;
		}
	}
}

@mixin webkit-line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}


.owl-carousel {
	z-index: 0;
}

/*-------------------------------------------------------- head menu -------------------------------------------------*/
.header-1{
	&.header-home{
		background-color: #F6FCFA;
	}
}
.header-1 {
	display: inline-block;
	width: 100%;
	z-index: 9;
	position: fixed;
	top: 0;
	padding: 10px 30px 10px 30px;
	background: #fff;
	.logo-default img{
		height: 35px;
	}
	.menu nav>ul {
		display: flex;
		justify-content: left;
		margin-bottom: 0;
	
	}
	
	.menu nav ul>li {
		&::before {
			content: "\e64b";
			display: inline-block;
			font-family: 'themify';
			font-size: 13px;
			font-weight: 100;
			position: absolute;
			right: 0;
			top: 0;
		}
		&.no-sub{

			&::after,
			&::before {
				display: none !important;
			}
		}
	}
	
	.menu {
		position: relative;
		z-index: 1;
		nav {
			display: flex;
			align-items: center;
			ul {
				padding: 0;
	
				li {
					position: relative;
					list-style: none;
	
					i {
						display: none;
					}
	
					a {
						padding: 0 20px;
						position: relative;
						font-size: 18px;
						color: $text;
						display: flex;
						align-items: center;
						@extend .fw-bold;
						svg{ 
							height: 24px;
						}
						&:hover {
							color: $brand;
							
						}
	
						&.active {
							color: $brand;
							svg{
								path{
									fill: $brand;
								}
							}
						}
					}
	
					ul {
						position: absolute;
						width: 250px;
						left: 20px;
						top: 45px;
						border-radius: 0 0 2px 2px;
						border-top: 1px solid $brand;
						opacity: 0;
						visibility: hidden;
						background: white;
						box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
						padding: 15px;
						-webkit-transition: all .5s ease;
						transition: all .5s ease;
						li {
							padding: 3px 0;
	
							a {
								display: inline-block;
								width: 100%;
								padding: 8px 0;
								font-size: 16px;
								text-align: left;
								@extend .fw-normal;
								&::before {
									display: none;
								}
	
								&:hover {
									border-radius: 2px;
									color: $brand;
								}
							}
							&::before{
								display: none;
							}
						}
	
	
					}
	
					&:hover {
						ul {
							opacity: 1;
							visibility: initial;
						}
					}
	
					&.active {
						a {
							color: $text-alpha;
							svg{
								path{
									fill: $brand;
								}
							}
						}
	
						ul {
							li {
								a {
									color: $text;
	
									&.active {
										color: $text-alpha  !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	 
	.logo{
		float: left;
	}

	
	
}
.content-head-left{
	display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.content-head-right{
	display: flex;
	align-items: center;
}
.contact-right{
	display: flex;
	align-items: center;
	a{
		margin: 0 10px;
		&:last-child{
			margin-right: 0;
		}
	}
}
.hotline{
	color: $brand;
	font-size: 18px;
	@extend .fw-bold;
	display: flex;
	align-items: center;
	img{
		margin-right: 10px;
	}
}
/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	background: #fff;

	
	
}



.modal-dat-hen{
	.btn-common-fill{
		height: 60px;
	}
}
/* Custom select box */
.custom-select {
	height: 50px;
	background-color: transparent;
	border-radius: 8px;
	border: 1px solid $border;
	position: relative;
	padding: 0;
	background: none;
	line-height: 30px;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: " ";
	background: url(../images/arrow_drop_down.svg);
	top: 12px;
    right: 10px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: $text;
	padding: 12px 16px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 16px;
	background-color: #F8F9FA;
	height: 55px;
}
.select-items div{
	background-color: transparent;
	border-bottom: 1px solid $border;
	&:last-child{
		border-bottom: 0;
	}
}
/* Style items (options): */
.select-items {
	padding: 10px 15px;
	overflow-y:auto;
	width: 100%;
	position: absolute;
	background-color: #fff;
	top: 60px;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	max-height: 250px;
	border-radius: 8px;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #f8f9fa73;
}
/* --------------------------- Pagging ------------------------------- */
.pagging-page {
	width: 100%;

	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
		i{
			color: $text;
		}
	}

	ul {
		li {

			a,
			span {
				width: 45px;
				height: 45px;
				margin-right: 10px;
				text-align: center;
				font-size: 18px;
				display: inline-block;
				text-decoration: none;
				color: $brand;
				padding: 10px;
				font-weight: 500;
				border-radius: 100%;
				border: 1px solid #1C3C55;
				background-color: #F6FCFA;
				color: #1C3C55;
				&.active {
					color: #fff;
					border: 1px solid $brand;
					background-color: $brand;
					padding-top: 10px;
    				
				}
				i{
					font-weight: 800;
				}
			}

			&:hover {
				a {
					color: white;
					background-color: $brand;
				}
			}
		}
	}
}

/* Banner home */
.banner-home{
	overflow: inherit;
	background-color: #F6FCFA;
	padding-top: 120px;
	.btn-search-service-mb{
		display: none;
	}
	.info-banner-left, .info-banner-right{
		width: 50%;
		float: left;
	}
	.info-banner-left {
		padding-left: 100px;
		h1{
			margin-bottom: 20px;
			span{
				color: $brand;
				font-size: 64px;
				&:last-child{
					font-size: 48px;
					color: $text;
				}
			}
		}
		h5{
			line-height: 30px;
		}
	}
	.info-banner-right img{
		width: 100%;
	}
}

::-webkit-scrollbar {
	width: 1px;
	height:6px;
	overflow: hidden;
}
::-webkit-scrollbar-track {
	background-color: #e5e5e500;
}
::-webkit-scrollbar-thumb {
	background-color: #d5efdc ;
}
.custom-scrollbar{
	transition: all .3s ease-in-out;
	padding-bottom: 5px;
	display: flex;
    overflow-x: scroll;
	overflow-y: hidden;
    height: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: unset;
    justify-content: left;
	&::-webkit-scrollbar {
		width: 1px;
		height:6px;
		overflow: hidden;
	}
	
	&:hover{
		&::-webkit-scrollbar-track {
			background-color: #e5e5e5;
		}
		
		&::-webkit-scrollbar {
			overflow: visible;
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: $brand ;
		}
	}

}
.box-search{
	display: flex;
	background:#FFF;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.06);
	border-radius: 27px;
	margin-top: 35px;
	max-width: 500px;
	width: 100%;
	.custom-select{
		border: 0;
		display: flex;
		align-items: center;
		height: 55px;
		padding-left: 20px;
	}
	.select-items div, .select-selected{
		background-color: transparent;
		
	}
	button{
		border-radius: 0 27px 27px 0;
		height: 55px;
		max-width: 170px;
		width: 100%;
	}
}
/*------------- Custom tab content --------------*/
.service-home{
	.tab-service .tab-content{
		border-radius: 0 8px 8px 8px;
	}
}
.service-home{
	.custom-scrollbar{
		overflow-x: visible;
		padding-bottom: 0;
	}
	.tab-system .nav-tabs {
		margin-bottom: -1px;
	}
}
.tab-system{
	.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
		border-color: transparent;
	}
	nav{
		margin-bottom: 1px;
	}
	.nav-tabs{
		border-bottom:0;
		.nav-link{
			width: fit-content;
			text-align: center;
			background-color: #F5F7FB;
			border-radius: 8px 8px 0 0;
			color: $text;
			font-size: 18px;
			margin-right: 10px;
			padding: 15px 32px ;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.nav-item.show .nav-link, .nav-tabs .nav-link.active{
		background-color: $brand;
		color: #fff;
	}
}
/*------------- Tab Services Home --------------*/
.tab-service{
	.tab-content{
		background: url(../images/img-tab.png) center top no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		.row{
			padding: 200px 50px 20px 50px;
		}
	}
}
.item-service{
	background-color: #fff;
	border-radius: 8px;
	padding: 16px 20px 20px 120px;
	margin-bottom: 30px;
	width: 100%;
	position: relative;
	min-height: 115px;
	.avatar-thumb {
		position: absolute;
		left: 20px;
		width: 80px;
		a{
			padding-top: 100%;
		}
	}
	&:hover{
		cursor: pointer;
	}
	img{
		border-radius: 4px;
		margin-right: 20px;
	}
	svg{
		position: absolute;
		right: 9px;
		top: 10px;
	}
	a{
		color: $text;
		line-height: 26px;
		@extend .fw-bold;
	}
	&:hover{
		a{
			color: $brand;
			
		}
		svg{
			path{
				fill: $brand;
			}
		}
	}
	.info-item-service{
		display: inline-block;
    width: 100%;
    padding-top: 15px;
	}
}
/*------------- Section Value Home --------------*/
.box-value{
	background: url(../images/img-bg-value.png) center top no-repeat;
	background-size: cover;
	height: 100%;
	display: flex;
	align-items: center;
	color: #fff;
	padding: 50px;
	min-height: 330px;
	border-radius: 8px;
	h3{
		@extend .fw-bold;
	}
	.large-text{
		font-size: 200px;
   		 padding-right: 50px;
		 @extend .fw-bold;
	}
	p{
		line-height: 28px;
		margin-bottom: 0;
	}
	&.box-value2{
		background: url(../images/img-bg-value2.png) center top no-repeat;
	}
}
/* Section count number  */
.bg-count-number{	
	background: url(../images/img-bg.png) center top no-repeat;
	background-size: cover;

}
.count-number{
	width: 100%;
    display: flex;
    align-items: center;
	justify-content: space-around;
}
.list-number{
	text-align: center;
    width: 25%;
	h2{
		font-size: 64px;
		color: $brand;
	}
	p{
		font-size: 18px;
	}
	&:nth-child(3){
		border: 1px solid $brand;
		border-radius: 100% !important;
		width: 240px;
		height: 240px;
	
	}
	.nubmer-growth{
		padding: 50px 30px;
		border-radius: 100%;
		border: 3px solid #fff;
		background: #FFF;
		background-color: #11A63E;
		height: 238px;
		width: 238px;
		text-align: center;
		h2, p{
			color: #fff;
		}
	}
}
.list-partner{
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	img{
		height: 55px;
		margin: 20px;
	}
}
.title-section h2 span{
	color: #fff;
	background-color: $brand;
	padding: 5px 15px;
	font-size: 48px;
}
.info-campaign{
	background-color: #F6FCFA;
	border-radius: 8px 0 0 8px;
	padding: 30px;
	padding-right: 200px;
	@extend .fw-bold;
	position: relative;
}
.list-check{
	margin-top: 20px;
	li{
		margin-bottom: 20px;
		padding-left: 40px;
		position: relative;
		list-style: none;
		img{
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
.img-pattern-home{
    max-width: 300px;
}
.info-right-campaign{
	background: url(../images/bg-campaign.png) center top no-repeat;
	background-size: cover;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 30px;
	h4{
		color: #fff;
		
	}
}
.text-campaign{
	position: relative;
	.img-quote{
		position: absolute;
		top: -80px;
		right: 0;
		left: 0;
		margin: 0 auto;
	}
}
.box-countdown{
	margin-top: 40px;
    width: fit-content;
	p{
		font-size: 18px;
		color: $brand;
		display: inline-block;
		&:last-child{
			font-size: 24px;
			color: $text;
			margin-top: 40px;
			margin-left: 50px;
			@extend .fw-normal;
		}
	}
	
	#timer {
		text-align: center;
		display: flex;
		margin: 20px 0;
		color: $brand;
		.text-timer{
			position: absolute;
			top: 38px;
			text-align: center;
			left: 0;
			right: 0;
			font-size: 16px;
			margin: 15px 0;
			color: $text;
		}
	  }
	  .box-time{
		position: relative;   
		margin-right: 20px;
		&:last-child span{
			&::after{
				content: '' !important;
				display: none;
			}
		}
	  }
	  #timer span {
		font-size: 64px;
		color: $brand;
		margin: 0 3px 0 15px;
		position: relative;
		font-weight: 600;
		&::after{
			content: ' : ';
			display: inline-block;
			margin-left: 10px;
		}
	  }
	  #timer span:first-child {
		margin-left: 0;
	  }
		
}
.khoi-ngiep{
	.img-pattern-home {
		position: absolute;
		right: -50px;
		top: 0;
		max-width: 450px;
		z-index: 1;
	}
}
.info-time{
	color: $brand;
	.date-time-event{
		border-left: 1px solid $border;
		padding: 0 30px;
		i{
			color: $brand;
		}
		p{
			margin-bottom: 0;
			font-size: 16px;
			margin: 0 15px;
			i{
				margin-right: 5px;
				font-weight: 600;
				font-size: 16px;
			}
		}
	}
	
}
.slider-items{
	max-width: 1100px;
	margin: 0 auto;
	margin-top: 40px;
	p{
		font-size: 20px;
		position: relative;
		padding-left: 70px;
		.quote-slide{
			position: absolute;
			left: 0;
			top: 0;
			height: 45px;
			width: fit-content;
		}
	}
	.owl-nav{
		display: none;
	}
	button:hover{
		background: transparent !important;
	}
	
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: $brand !important;
}
.owl-theme .owl-dots .owl-dot span{
	border: 1px solid $brand;
	background: #fff;
}
.info-aut{
	position: relative;
	padding-left: 80px;
	margin-left: 70px;
	margin-top: 30px;
	img{
		position: absolute;
		left: 0;
		width: 60px !important;
	}
	.detail-info-aut{
		text-align: left;
		p{
			padding-left: 0;
			font-size: 16px;
		}
	}
}
.why-choose{
	background: url(../images/img-bg.png) center top no-repeat;
	background-size: cover;
	height: 100%;
	background-color: $bg;
	ul{
		margin-top: 50px;
		display: inline-block;
		width: 100%;
	
		li{
			position: relative;
			padding-left: 150px;
			list-style: none;
			width: 50%;
			float: left;
			margin-bottom: 40px;
			img{
				height: 130px;
				position: absolute;
				left: 0;
			}
			p{
				padding-right: 40px;
			}
		}
	}
}
.info-why-choose{
	text-align: left;
	
	h3 span{
		font-size: 32px;
		background-color: $brand;
		padding: 5px 15px;
		color: #fff;
		margin-left: 10px;
	}
	p{
		font-size: 16px;
		padding: 25px 0 0 0;
		line-height: 26px;
	}
}
.call-to-action{
	background: url(../images/img-green-bg.png) center top no-repeat;
	background-size: cover;
	height: 100%;
	padding-bottom: 0;
	.info-call-to-action{
		display: flex;
		align-items: center;
		img{
			max-width: 500px;
		}
		.text-cta{
			padding-right: 100px;
			h3{
				color: #fff;
				line-height: 40px;
				margin-bottom: 30px;
			}
		}
		
	}
}
.section-list-services{
	border-top: 1px solid $border;
}
.list-services-detail{
	margin-top: 25px;
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
	li{
		list-style: none;
		margin-bottom: 20px;
		position: relative;
		padding-left: 25px;
		img{
			position: absolute;
			height: 20px;
			left: 0;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}
footer{
	border-top: 1px solid $border;
	padding-top: 35px;
	padding-bottom: 50px;
	h5{
		@extend .fw-bold;
	}
	.info-footer-left{
		padding-right: 200px;
		.logo-ft{
			img{
				height: 60px;
			}
			display: inline-block;
			margin-bottom: 20px;
		}
		
		
		.flex-center{
			justify-content:left;
			a{
				font-size: 18px;
				color: $brand;
				display: flex;
				align-items: center;
				margin-right: 30px;
				img{
					margin-right: 10px;
				}
			}
		}
	}
	
	ul{
		li{
			list-style: none;
			margin-bottom: 10px;
			display: inline-block;
			width: 100%;
			a{
			color: $text;
			}

		}
	}
}
.banner-head-detail{
	background: #11A63E url(../images/pattern-head.png) center top no-repeat;
	background-size: cover;
	height: 100%;
	padding-top: 100px;
	h1{
		color: #fff;
		margin-bottom: 0;
		margin-top: 30px;
	}
	.flex-center{
		img{
			max-width: 600px;
		}
	}
	.banner-head-right{
		width: 60%;
		color: #fff;
		padding-right: 60px;
		h1{
			margin-top: 0;
		}
		p{
			margin-bottom: 0;
			margin-top: 20px;
		}
	}
}
.bg-services{
	background-color: #F5F7FB;
	border-radius: 20px;
	padding: 27px 20px 0 20px;
}
.cate-services{
	margin: 60px 0;
	h3{
		margin-bottom: 30px;
	}
	.item-service {
		&.services-large{
			padding-left: 210px;
			min-height: 202px;
			.avatar-thumb {
				width: 170px;
				left: 15px;
			}
			.info-item-service{
				a{
					font-size: 20px;
					@extend .fw-bold;
					margin-bottom: 15px;
					display: inline-block;
				}
		}
		}
		
		p{
			line-height: 28px;
			@include webkit-line-clamp();
		}
		
	
	}
}
.section-intro-services{
	img{
		width: 100%;
		border-radius: 4px;
	}
}
.intro-service{
	img{
		height: 26px;
		width: fit-content;
		border-radius: 0
	}
}
.time-doing{
	position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;

	p{
		font-size: 35px;
		color: $brand;
		line-height: 50px;
		@extend .fw-bold;
		margin-bottom: 0;
		span{
			font-size: 75px;
			line-height: 75px;
		}
	}
}

.section-hang-muc{
	.col-md-4{
		&:nth-child(2){
			.hang-muc{
				margin-left: 30px;
			}
		}
	}
}
.hang-muc{
	background-color: $brand;
	height: 100%;
	padding: 30px 25px;
	border-radius: 8px;
	color: #fff;
	position: relative;
	.list-check li{
		margin-bottom: 25px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&.bg-blue{
		background-color: #439BD8;
	}
}
.box-process{
	padding: 20px;
	border-radius: 8px;
	border: 1px solid $brand;
	text-align: center;
	min-height: 282px;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.10);
	h5{
		@extend .fw-bold;
	}
	p{
		margin-bottom: 0;
	}
	img{
		height: 80px;
		margin-bottom: 15px;
	}
}
.number-style{
	padding: 3px 20px 10px 15px;
	border-radius: 8px 0px 540px 0px;
	color: #fff;
	background-color: $brand;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 18px;
	text-align: center;
}
.bieu-phi-table{
	background-color: #F6FCFA;
	.custom-scrollbar{
		overflow-x: hidden;
	}
}
.bieu-phi{
	background-color: #F5F7FB;
	padding-top: 50px;
	.row{
		max-width: 1220px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.col-md-4{
		&:nth-child(2), &:nth-child(3){
			.chi-tiet-phi{
				background-color: #439BD8;
				color: #fff;
				span{
					color: #fff;
				}
			}
			.list-check li, .box-price p{
				color: #fff;
			}
			.btn-action a{
				color: #fff;
				background-color: transparent;
				border: 1px solid #fff;
			}
		}
		&:nth-child(3){
			.chi-tiet-phi{
				background-color: $brand;
			}
			.btn-action a{
				color: $brand;
				background-color: #fff;
				border: 1px solid #fff;
				&:hover{
					color: #fff !important;
				}
			}
		}
	}
}
.chi-tiet-phi{
	filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.16));
	background-color: #fff;
	.list-check{
		padding: 40px 40px 40px 50px;
		margin: 0;
		li{
			font-size: 14px;
			color: $text-alpha;
			padding-left: 30px;
			img{
				height: 22px;
			}
		}
	} 
	
}
.tieu-de-phi{
	position: relative;
	padding: 40px 40px 0 100px;
	p{
		margin-bottom: 0;
		@extend .fw-bold;
		font-size: 20px;
	}
	img{
		position: absolute;
		left: 50px;
		height: 44px;
	}
}
.box-price{
	border-top: 1px solid #E9E9E9;
	padding-top: 25px;
	padding-bottom: 40px;
	.btn-action a{
		max-width: 218px;
		width: 100%;
	}
	p{
		font-size: 32px;
		@extend .fw-bold;
		color: $brand;
		span{
			color: $text-alpha;
			font-size: 14px;
			@extend .fw-normal;
			color: $text-alpha;
		}
	}
}
.bg-brand{
	background-color: $brand;
}
.desc-title span{
	font-size: 18px;
	@extend .fw-bold;
}
.box-camket{
	display: flex;
	align-items: center;
	border-radius: 8px;
	background: #FFF;
	padding: 15px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
	margin-bottom: 30px;
	img{
		height: 60px;
	}
	p{
		font-size: 18px;
		@extend .fw-bold;
		padding-left: 15px;
	}
}
.video-bg{
	max-width: 1185px;
	margin: 0 auto;
}
.accordion{
	border: 0;
	margin-top: 35px;

}
#faq .card {
	padding: 0;
	border: 0;
	border-bottom: 1px solid $border;
	&:last-child{
		border-bottom: 0;
	}
  }
  
 #faq .card .card-header {
	border-bottom: 1px solid $border;
	padding: 0;
	@extend .fw-bold;
  }
  #faq .card .card-body {
	font-size: 15px;
	padding-left: 25px;
	padding-top: 0;
	text-align: justify;
	p{
		position: relative;
		padding-left: 30px;
		margin-top: 15px;
		display: inline-block;
		i{
			position: absolute;
			left: 0;
			font-size: 20px;
			top: 5px;
			font-weight: 800;
		}
	}
  }
  
  #faq .card .card-header .btn-header-link {
	font-size: 20px;
	color: $text;
	display: block;
	text-align: left;
	background: #fff;
	padding: 20px 25px;
	border-radius: 0;
	font-weight: 500;
  }
  
#faq .card .card-header .btn-header-link:after {
	content: "\e648";
	font-family: 'themify';
	font-weight: 700;
	position: absolute;
    right: 20px;
    top: 20px;
	color: $brand !important;

  }

#faq .card .card-header .btn-header-link.collapsed {
	color: $text;
  }

  
#faq .card .collapsing {
	background: #fff;
	line-height: 30px;
  }
  
#faq .card .collapse {
	border: 0;
  }
  
#faq .card .collapse.show {
	background: #fff;
	line-height: 30px;
	color: $text;
  }
  .table-bieu-phi{
	p{
		color: #fff;
		background-color: $brand;
		border-radius: 8px 8px 0 0;
		padding: 15px 10px;
		margin-bottom: 0;
		font-size: 18px;
		text-align: center;
		text-transform: uppercase;
		@extend .fw-bold;
	}
	tbody{
		border: 1px solid $border;
		border-top: 0;
	}
  }
  .table-thanh-phan {
	border-collapse: collapse;
	width: 100%;
	border-radius: 0 0 8px 8px;
	overflow: hidden;
	td {
		padding: 12px 24px;
		position: relative;

		span {
			text-align: center;
			position: absolute;
			right: 30px;
			display: inline-block;
			width: 100%;

		}
	}

	thead {
		th {
			background: #1C3C55;
			font-weight: 700;
			font-size: 18px;
			padding: 12px 24px;
			color: #fff;
		}
	}
	tr:nth-child(odd){
		background-color: #F5F7FB;
	}
	tr:nth-child(even){
		background-color: #fff;
	}
}
.cate-services.blogs-services{
	.item-service .avatar-thumb a {
		padding-top: 90%;
	}
}
.blogs-services{
	.item-service{
		box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.17);
		border: 1px solid transparent;
		transition: all .3s ease-in-out;
		&:hover{
			border: 1px solid $brand;
		}
		svg {
			bottom: 10px;
			transform: rotateX(178deg);
			top: inherit;
		}
	}
}
.cate-services.blogs-services h3{
	margin-bottom: 15px;
}
.slider-item-blogs{
	.item.box-item{
		width: 100%;
		display: flex;
		align-items: center;
		h2{
			padding-right: 30px;
		}
	}
}
.head-blogs-cate{
	img{
		width: 100%;
	}
	.owl-nav{
		display: none;
	}
	.owl-dots{
		text-align: left;
	}
	button:hover{
		background-color: transparent !important;
	}
}
.item-news{
	border-radius: 8px;
	background: var(--white, #FFF);
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
	padding: 15px;
	margin-bottom: 30px;
	h5{
		padding-top: 15px;
		.title-news{
			font-size: 18px;
			@include webkit-line-clamp();
			color: $text;
			@extend .fw-bold;
		}
	}
	img{
		border-radius: 8px;
	}
	.name-cate{
		color: #1C3C55;
		text-transform: capitalize;
		margin-bottom: 0;
		margin-top: 20px;
	}
	&:hover{
		cursor: pointer;
	}
}
.no-container{
	padding: 0 15px;
}

.section-library{
	.sticky-box{
		padding-left: 10px;
	}
	.tab-library .nav-item{
		border-bottom: 1px solid $border !important;
		&:last-child{
			border-bottom: 0;
		}
	}
	.tab-content{
		max-width: 866px;
		margin: 0 auto;
	}
}
.section-detail-blogs{
	.tab-content-blog{
		padding-left: 15px;
	}
	.editor-body{
		max-width: 866px !important;
		margin: 0 auto;
	}
}
.tab-content-blog{
	h6{
		@extend .fw-bold;
		border-bottom: 1px solid $border;
		padding-bottom: 20px;
	}
	ul li{
		list-style: none;
		margin: 10px 0;
		display: inline-block;
		width: 100%;
		a{
			font-size: 16px;
			color: $text;
		}
	}
}
.back-to-link{
	padding-top: 20px;
    display: inline-block;
}
.back-to-link, i{
	color: #fff;
	font-size: 18px;
	@extend .fw-bold;
	i{
		margin-right: 10px;
	}
	&:hover{
		color: #fff;
	}
}
.box-shadow{
	border-radius: 8px;
	background:#FFF;
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.11);
	padding: 30px;

}
.info-contact-box{
	padding: 0 90px;
}
.info-contact{
	text-align: center;
	
	.avatar-thumb {
		margin-bottom: 30px;
		a {
			padding-top: 25%;
			img{
				border-radius: 2px;
			}
		}
	}
	span{
		color: $text-alpha;
		font-size: 16px;
		margin: 12px 0;
		display: inline-block;
		width: 100%;
	}
	.hotline-contact{
		font-size: 32px;
		color: $brand;
		@extend .fw-bold;
		display: inline-grid;
		justify-items: center;
		img{
			margin-bottom: 15px;
		}
	}
}
.contact-form{
	height: 100%;
	padding: 30px 40px;
	h5{
		@extend .fw-bold;
		margin-bottom: 20px;
	}
	.two-filed-col {
		display: flex;
		justify-content: space-between;
		.form-group {
			width: 100%;
		}
	}
	.btn-common-fill{
		img{
			margin-left: 10px;
		}
	}
}
.section-policy{
	.editor-body{
		max-width: 1000px;
		margin: 0 auto;
	}
}
.page-404{
	max-width: 690px;
	margin: 0 auto;
	h3{
		margin: 25px 0;
	}
	.img-404{
		max-width: 200px;
	}
	.btn-action a svg{
		margin-left: 10px;
	}
}
.section-library{
	h5{
		@extend .fw-bold;
		margin-bottom: 20px;
	}
	.bg-green{
		background-color: #F6FCFA;
		border-radius: 8px;
		padding: 20px;
		p{
			@extend .fw-bold;
		}
	}
	.bg{
		display: inline-block;
		width: 100%;
	}
}
.tab-library{
	.nav-tabs{
		border-bottom: 0;
	}
	.nav-item{
		width: 100%;
		padding: 15px 10px 15px 0;
		@extend .fw-bold;
		color: $text;
		&:hover{
			border: 1px solid transparent;
			color: $brand;
		}
	}
	.nav-tabs .nav-link.active {
		border: 0;
		color: $brand;
	}
}
.box-search-course{
	position: relative;
	i{
		position: absolute;
		left: 20px;
		color: #1C3C55;
		font-weight: 700;
		top: 18px;
	}
	input{
		padding-left: 50px;
		border: 1px solid #1C3C55;
		border-radius: 8px;
		height: 55px;
		font-size: 16px;
		&::placeholder{
			color: #9AABB9;
			font-size: 16px;
		}
		
	}
}
.list-tag{
	display: inline-block;
    width: 100%;
    text-align: center;
	padding-top: 30px;
	ul{
		margin: 0;
		display: inline-block;
	li{
		list-style: none;
		float: left;
		margin-right: 10px;
    	padding-bottom: 0px;
		margin-bottom: 10px;
		border-bottom: 1px solid $brand;
		a{
			color: $brand;
			font-size: 16px;
			text-align: center;
	}
	}
}
}
/* --------------Checkbox-------------------- */
.custom-checkbox{
	margin-right: 40px;
}
.input-custom {
	display: none;
}

.label-custom {
	color: $text;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	font-weight: normal !important;
	margin-bottom: 0;
	&:checked {
		color: $brand  !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 14px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 20px;
		height: 20px;
		opacity: 1;
		border: 1px solid $text;
		box-sizing: border-box;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	@extend .fw-bold;
	&:checked {
		color: $text  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: $brand;
	border: 1px solid $brand;
}

.input-custom:checked+.label-custom {
	color: $text  !important;
	
}
.bg-brown{
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: #F5F7FB;
	border-radius: 8px;
	padding: 20px;
}
.list-post-library{
	display: flex;
	align-items: start;
	padding: 30px 0;
	border-bottom: 1px solid $border;
	
	p{
		padding-right: 50px;
	}
	ul{
		margin: 0;
		li{
			list-style: none;
			display: inline-block;
			margin-bottom: 5px;
			font-size: 14px;
			span{
				font-size: 14px;

			}
			&:last-child{
				span{
					color: $brand;
				}
			}
		}
	}
	.btn-common-white{
		border: 1px solid $brand !important;
		max-width: 230px;
		width: 100%;
		&:hover{
			background-color: #dcf9e5 !important;
			color: $brand!important;
		}
	}
}
.btn-action-lib{
	display: inline-block;
    max-width: 130px;
    width: 100%;
	a{
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.btn-common-white{
		border: 1px solid $brand !important;
	}
}
.col-right-lib img{
	border-radius: 8px;
	margin-bottom: 20px;
	width: 100%;
}
.border-none{
	border: 0;
}
/* Status Sucess Noti */
.status-sucess-noti, .status-err-noti{
	position: absolute;
    right: 0;
	border-radius: 8px;
	background: #17C964;
	padding: 20px;
	max-width: 300px;
	border-radius: 8px;
	color: #fff;
}
 .status-err-noti{
	background: #F31212;
}
.head-lib{
	h3{
		color: #fff;
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
	}
}
.box-date-time-lib{
	background-color: #F6FCFA;
	.list-post-library{
		padding: 0;
		align-items: center;
		justify-content: space-around;
		border-bottom: 0;
		padding: 15px 0;
		ul{
			li{
				font-size: 18px;
				@extend .fw-bold;
				margin: 0 30px;
				span{
					font-size: 18px;
				}
			}
		}
	}

}
.body-lib{
	max-width: 100% !important;
	border-radius: 8px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.07);
	padding: 0 10px 10px 10px;
	text-align: center;
	

}
.section-contact{
	.mail-contact{
		&:hover{
			color: $brand;
		}
		img{
			margin-right: 10px;
		}
	}
}
.call-to-action-btn{
	display: none;
}
.hh-videos {
	width: 80%;
	margin: 0 auto;

	.video-cans {
		display: inline-block;
		width: 100%;
		position: relative;
		background-size: cover !important;
		height: 675px;
		cursor: pointer;

		img {
			width: 100%;
		}
	}

	.overlay {
		width: 100%;
		margin: 0 auto;
		height: 675px;
		display: none;

		&._active {
			display: block;

			iframe {
				width: 100%;
				height: 662px;
			}
		}
	}
}
