.bg {
  background-color: #F6FCFA; }

a:hover {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

h1 {
  font-size: 64px;
  font-family: 'Google Sans Bold'; }

h2 {
  font-size: 48px;
  font-family: 'Google Sans Bold'; }

h3 {
  font-size: 32px;
  font-family: 'Google Sans Bold'; }

h4 {
  font-size: 28px;
  font-family: 'Google Sans Bold'; }

h5 {
  font-size: 20px;
  font-weight: 500; }

h6 {
  font-size: 18px;
  font-family: 'Google Sans Bold'; }

b,
span,
i,
label {
  font-size: 13px; }

section {
  padding: 40px 0;
  display: block;
  width: 100%;
  overflow: hidden; }

.title-section h2 {
  display: inline-block;
  width: 100%;
  line-height: 70px; }

a {
  text-decoration: none; }

.fw-normal, .header-1 .menu nav ul li ul li a, .box-countdown p:last-child, .box-price p span {
  font-family: 'Google Sans', sans-serif; }

.fw-bold, .header-1 .menu nav ul li a, .hotline, .item-service a, .box-value h3, .box-value .large-text, .info-campaign, footer h5, .cate-services .item-service.services-large .info-item-service a, .time-doing p, .box-process h5, .tieu-de-phi p, .box-price p, .desc-title span, .box-camket p, #faq .card .card-header, .table-bieu-phi p, .item-news h5 .title-news, .tab-content-blog h6, .back-to-link, i, .info-contact .hotline-contact, .contact-form h5, .section-library h5, .section-library .bg-green p, .tab-library .nav-item, .label-custom, .box-date-time-lib .list-post-library ul li, strong {
  font-family: 'Google Sans Bold'; }

.flex-center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.pb-70 {
  padding-bottom: 70px; }

.pt-80 {
  padding-top: 80px; }

.pt-100 {
  padding-top: 100px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.p0 {
  padding: 0; }

.pd-left {
  padding-left: 30px; }

.pd-right {
  padding-right: 30px; }

.center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.text-main {
  color: #022541; }

.text-white {
  color: #fff; }

.text-brand {
  color: #11A63E; }

.text-uppercase {
  text-transform: uppercase; }

.none-overflow {
  overflow: inherit; }

.sticky-box {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 100px !important; }

.none-uppercase {
  text-transform: inherit; }

.text-alpha {
  color: #666668; }

.btn.focus,
.btn:focus {
  box-shadow: none; }

body {
  font-family: 'Google Sans', sans-serif;
  color: #022541;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 24px;
  font-size: 16px; }

.container {
  max-width: 1500px;
  margin: auto; }

button:focus {
  outline: 0; }

.btn-action {
  display: inline-block;
  width: 100%; }
  .btn-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .btn-action button {
    outline: none; }
  .btn-action span {
    padding-left: 5px;
    font-weight: 900; }

.btn-common-white {
  background: #fff !important;
  border: 1px solid transparent  !important;
  color: #11A63E !important; }
  .btn-common-white:hover {
    color: #fff !important; }

input[type=button],
input[type=submit],
input[type=reset] {
  color: white !important; }

.btn-common-fill, .btn-common-white, button, input[type=button], input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #11A63E;
  padding: 10px 22px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out !important;
  color: white;
  height: 48px;
  line-height: 24px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 70px;
  border: 1px solid transparent; }
  .btn-common-fill:hover, .btn-common-white:hover, button:hover, input[type=button]:hover, input[type=submit]:hover {
    background: #23b74f !important;
    color: white; }
  .btn-common-fill span,
  .btn-common-fill img, .btn-common-white span,
  .btn-common-white img, button span,
  button img, input[type=button] span,
  input[type=button] img, input[type=submit] span,
  input[type=submit] img {
    font-weight: 600;
    margin-right: 10px;
    height: 22px; }
  .btn-common-fill i, .btn-common-white i, button i, input[type=button] i, input[type=submit] i {
    margin-left: 10px;
    font-weight: 700; }

textarea {
  height: 100px !important;
  padding-top: 12px !important; }

input,
select,
textarea {
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  color: #022541;
  width: 100%;
  padding: 5px 15px;
  height: 45px;
  font-size: 14px; }
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #D9D9D9; }
  input:focus,
  select:focus,
  textarea:focus {
    border: 1px solid #D9D9D9; }

::-webkit-calendar-picker-indicator {
  filter: invert(0.6); }

.avatar-thumb {
  display: inline-block;
  width: 100%; }
  .avatar-thumb a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .avatar-thumb a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.form-control:focus {
  border-color: #11A63E;
  outline: 0;
  box-shadow: none; }

.breadcrumbs {
  padding-bottom: 30px;
  display: flex;
  align-items: center; }
  .breadcrumbs i {
    color: #fff;
    font-weight: 600; }
    .breadcrumbs i.ti-angle-right {
      font-size: 13px;
      color: #fff; }
  .breadcrumbs a {
    color: #fff;
    font-size: 13px;
    padding: 0 5px; }

.editor-body ul, .editor-body ol {
  padding-left: 15px; }
.editor-body span, .editor-body p, .editor-body b, .editor-body strong, .editor-body label, .editor-body i {
  font-size: initial !important;
  width: initial !important;
  height: initial !important;
  font-weight: initial !important; }
.editor-body h1, .editor-body h2, .editor-body h3, .editor-body h4, .editor-body h5, .editor-body h6 {
  font-size: initial !important;
  width: initial !important;
  font-weight: initial !important;
  height: initial !important;
  margin: 20px 0; }
  .editor-body h1 span, .editor-body h1 p, .editor-body h1 b, .editor-body h1 strong, .editor-body h1 label, .editor-body h1 i, .editor-body h2 span, .editor-body h2 p, .editor-body h2 b, .editor-body h2 strong, .editor-body h2 label, .editor-body h2 i, .editor-body h3 span, .editor-body h3 p, .editor-body h3 b, .editor-body h3 strong, .editor-body h3 label, .editor-body h3 i, .editor-body h4 span, .editor-body h4 p, .editor-body h4 b, .editor-body h4 strong, .editor-body h4 label, .editor-body h4 i, .editor-body h5 span, .editor-body h5 p, .editor-body h5 b, .editor-body h5 strong, .editor-body h5 label, .editor-body h5 i, .editor-body h6 span, .editor-body h6 p, .editor-body h6 b, .editor-body h6 strong, .editor-body h6 label, .editor-body h6 i {
    font-size: initial !important;
    width: initial !important;
    font-weight: initial !important;
    height: initial !important; }
.editor-body img {
  max-width: 100% !important;
  margin: 20px auto; }

/* ----------------------- Modal----------------------- */
.modal {
  padding: 80px 0; }

.modal-body, form {
  padding-top: 15px; }
  .modal-body .btn-action, form .btn-action {
    text-align: right; }
    .modal-body .btn-action .btn-common-fill, form .btn-action .btn-common-fill {
      width: fit-content; }
  .modal-body label, form label {
    font-size: 16px; }
  .modal-body .form-group, form .form-group {
    margin-bottom: 20px; }
  .modal-body .btn-common-fill, form .btn-common-fill {
    margin-top: 15px; }

.modal-content {
  margin: auto;
  padding: 22px 15px 15px 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
  border: 0; }

.modal-dialog {
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.modal-header {
  padding: 0 10px;
  border-bottom: 0; }
  .modal-header .close {
    position: absolute;
    right: 45px;
    top: 50px;
    opacity: 1;
    padding: 0;
    height: inherit; }
    .modal-header .close i {
      font-size: 20px;
      color: #022541;
      opacity: 1;
      font-weight: 600;
      margin: 0; }
    .modal-header .close:hover {
      background: transparent !important;
      opacity: 1; }

.modal-title {
  font-weight: 600; }

.two-filed-col .form-group {
  width: 250px; }
  .two-filed-col .form-group:first-child {
    margin-right: 20px; }

.owl-carousel {
  z-index: 0; }

/*-------------------------------------------------------- head menu -------------------------------------------------*/
.header-1.header-home {
  background-color: #F6FCFA; }

.header-1 {
  display: inline-block;
  width: 100%;
  z-index: 9;
  position: fixed;
  top: 0;
  padding: 10px 30px 10px 30px;
  background: #fff; }
  .header-1 .logo-default img {
    height: 35px; }
  .header-1 .menu nav > ul {
    display: flex;
    justify-content: left;
    margin-bottom: 0; }
  .header-1 .menu nav ul > li::before {
    content: "\e64b";
    display: inline-block;
    font-family: 'themify';
    font-size: 13px;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 0; }
  .header-1 .menu nav ul > li.no-sub::after, .header-1 .menu nav ul > li.no-sub::before {
    display: none !important; }
  .header-1 .menu {
    position: relative;
    z-index: 1; }
    .header-1 .menu nav {
      display: flex;
      align-items: center; }
      .header-1 .menu nav ul {
        padding: 0; }
        .header-1 .menu nav ul li {
          position: relative;
          list-style: none; }
          .header-1 .menu nav ul li i {
            display: none; }
          .header-1 .menu nav ul li a {
            padding: 0 20px;
            position: relative;
            font-size: 18px;
            color: #022541;
            display: flex;
            align-items: center; }
            .header-1 .menu nav ul li a svg {
              height: 24px; }
            .header-1 .menu nav ul li a:hover {
              color: #11A63E; }
            .header-1 .menu nav ul li a.active {
              color: #11A63E; }
              .header-1 .menu nav ul li a.active svg path {
                fill: #11A63E; }
          .header-1 .menu nav ul li ul {
            position: absolute;
            width: 250px;
            left: 20px;
            top: 45px;
            border-radius: 0 0 2px 2px;
            border-top: 1px solid #11A63E;
            opacity: 0;
            visibility: hidden;
            background: white;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
            padding: 15px;
            -webkit-transition: all .5s ease;
            transition: all .5s ease; }
            .header-1 .menu nav ul li ul li {
              padding: 3px 0; }
              .header-1 .menu nav ul li ul li a {
                display: inline-block;
                width: 100%;
                padding: 8px 0;
                font-size: 16px;
                text-align: left; }
                .header-1 .menu nav ul li ul li a::before {
                  display: none; }
                .header-1 .menu nav ul li ul li a:hover {
                  border-radius: 2px;
                  color: #11A63E; }
              .header-1 .menu nav ul li ul li::before {
                display: none; }
          .header-1 .menu nav ul li:hover ul {
            opacity: 1;
            visibility: initial; }
          .header-1 .menu nav ul li.active a {
            color: #666668; }
            .header-1 .menu nav ul li.active a svg path {
              fill: #11A63E; }
          .header-1 .menu nav ul li.active ul li a {
            color: #022541; }
            .header-1 .menu nav ul li.active ul li a.active {
              color: #666668 !important; }
  .header-1 .logo {
    float: left; }

.content-head-left {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between; }

.content-head-right {
  display: flex;
  align-items: center; }

.contact-right {
  display: flex;
  align-items: center; }
  .contact-right a {
    margin: 0 10px; }
    .contact-right a:last-child {
      margin-right: 0; }

.hotline {
  color: #11A63E;
  font-size: 18px;
  display: flex;
  align-items: center; }
  .hotline img {
    margin-right: 10px; }

/* -------Sticky menu srcoll----- */
.menu-scroll {
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  background: #fff; }

.modal-dat-hen .btn-common-fill {
  height: 60px; }

/* Custom select box */
.custom-select {
  height: 50px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  position: relative;
  padding: 0;
  background: none;
  line-height: 30px; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: " ";
  background: url(../images/arrow_drop_down.svg);
  top: 12px;
  right: 10px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #022541;
  padding: 12px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 16px;
  background-color: #F8F9FA;
  height: 55px; }

.select-items div {
  background-color: transparent;
  border-bottom: 1px solid #D9D9D9; }
  .select-items div:last-child {
    border-bottom: 0; }

/* Style items (options): */
.select-items {
  padding: 10px 15px;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  max-height: 250px;
  border-radius: 8px; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: #f8f9fa73; }

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
    .pagging-page .pagination i {
      color: #022541; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: #11A63E;
    padding: 10px;
    font-weight: 500;
    border-radius: 100%;
    border: 1px solid #1C3C55;
    background-color: #F6FCFA;
    color: #1C3C55; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      color: #fff;
      border: 1px solid #11A63E;
      background-color: #11A63E;
      padding-top: 10px; }
    .pagging-page ul li a i,
    .pagging-page ul li span i {
      font-weight: 800; }
  .pagging-page ul li:hover a {
    color: white;
    background-color: #11A63E; }

/* Banner home */
.banner-home {
  overflow: inherit;
  background-color: #F6FCFA;
  padding-top: 120px; }
  .banner-home .btn-search-service-mb {
    display: none; }
  .banner-home .info-banner-left, .banner-home .info-banner-right {
    width: 50%;
    float: left; }
  .banner-home .info-banner-left {
    padding-left: 100px; }
    .banner-home .info-banner-left h1 {
      margin-bottom: 20px; }
      .banner-home .info-banner-left h1 span {
        color: #11A63E;
        font-size: 64px; }
        .banner-home .info-banner-left h1 span:last-child {
          font-size: 48px;
          color: #022541; }
    .banner-home .info-banner-left h5 {
      line-height: 30px; }
  .banner-home .info-banner-right img {
    width: 100%; }

::-webkit-scrollbar {
  width: 1px;
  height: 6px;
  overflow: hidden; }

::-webkit-scrollbar-track {
  background-color: #e5e5e500; }

::-webkit-scrollbar-thumb {
  background-color: #d5efdc; }

.custom-scrollbar {
  transition: all .3s ease-in-out;
  padding-bottom: 5px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  white-space: nowrap;
  width: 100%;
  flex-wrap: unset;
  justify-content: left; }
  .custom-scrollbar::-webkit-scrollbar {
    width: 1px;
    height: 6px;
    overflow: hidden; }
  .custom-scrollbar:hover::-webkit-scrollbar-track {
    background-color: #e5e5e5; }
  .custom-scrollbar:hover::-webkit-scrollbar {
    overflow: visible; }
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #11A63E; }

.box-search {
  display: flex;
  background: #FFF;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.06);
  border-radius: 27px;
  margin-top: 35px;
  max-width: 500px;
  width: 100%; }
  .box-search .custom-select {
    border: 0;
    display: flex;
    align-items: center;
    height: 55px;
    padding-left: 20px; }
  .box-search .select-items div, .box-search .select-selected {
    background-color: transparent; }
  .box-search button {
    border-radius: 0 27px 27px 0;
    height: 55px;
    max-width: 170px;
    width: 100%; }

/*------------- Custom tab content --------------*/
.service-home .tab-service .tab-content {
  border-radius: 0 8px 8px 8px; }

.service-home .custom-scrollbar {
  overflow-x: visible;
  padding-bottom: 0; }
.service-home .tab-system .nav-tabs {
  margin-bottom: -1px; }

.tab-system .nav-tabs .nav-link:focus, .tab-system .nav-tabs .nav-link:hover, .tab-system .nav-tabs .nav-item.show .nav-link, .tab-system .nav-tabs .nav-link.active {
  border-color: transparent; }
.tab-system nav {
  margin-bottom: 1px; }
.tab-system .nav-tabs {
  border-bottom: 0; }
  .tab-system .nav-tabs .nav-link {
    width: fit-content;
    text-align: center;
    background-color: #F5F7FB;
    border-radius: 8px 8px 0 0;
    color: #022541;
    font-size: 18px;
    margin-right: 10px;
    padding: 15px 32px; }
    .tab-system .nav-tabs .nav-link:last-child {
      margin-right: 0; }
.tab-system .nav-item.show .nav-link, .tab-system .nav-tabs .nav-link.active {
  background-color: #11A63E;
  color: #fff; }

/*------------- Tab Services Home --------------*/
.tab-service .tab-content {
  background: url(../images/img-tab.png) center top no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; }
  .tab-service .tab-content .row {
    padding: 200px 50px 20px 50px; }

.item-service {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 20px 20px 120px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  min-height: 115px; }
  .item-service .avatar-thumb {
    position: absolute;
    left: 20px;
    width: 80px; }
    .item-service .avatar-thumb a {
      padding-top: 100%; }
  .item-service:hover {
    cursor: pointer; }
  .item-service img {
    border-radius: 4px;
    margin-right: 20px; }
  .item-service svg {
    position: absolute;
    right: 9px;
    top: 10px; }
  .item-service a {
    color: #022541;
    line-height: 26px; }
  .item-service:hover a {
    color: #11A63E; }
  .item-service:hover svg path {
    fill: #11A63E; }
  .item-service .info-item-service {
    display: inline-block;
    width: 100%;
    padding-top: 15px; }

/*------------- Section Value Home --------------*/
.box-value {
  background: url(../images/img-bg-value.png) center top no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 50px;
  min-height: 330px;
  border-radius: 8px; }
  .box-value .large-text {
    font-size: 200px;
    padding-right: 50px; }
  .box-value p {
    line-height: 28px;
    margin-bottom: 0; }
  .box-value.box-value2 {
    background: url(../images/img-bg-value2.png) center top no-repeat; }

/* Section count number  */
.bg-count-number {
  background: url(../images/img-bg.png) center top no-repeat;
  background-size: cover; }

.count-number {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.list-number {
  text-align: center;
  width: 25%; }
  .list-number h2 {
    font-size: 64px;
    color: #11A63E; }
  .list-number p {
    font-size: 18px; }
  .list-number:nth-child(3) {
    border: 1px solid #11A63E;
    border-radius: 100% !important;
    width: 240px;
    height: 240px; }
  .list-number .nubmer-growth {
    padding: 50px 30px;
    border-radius: 100%;
    border: 3px solid #fff;
    background: #FFF;
    background-color: #11A63E;
    height: 238px;
    width: 238px;
    text-align: center; }
    .list-number .nubmer-growth h2, .list-number .nubmer-growth p {
      color: #fff; }

.list-partner {
  max-width: 900px;
  margin: 0 auto;
  text-align: center; }
  .list-partner img {
    height: 55px;
    margin: 20px; }

.title-section h2 span {
  color: #fff;
  background-color: #11A63E;
  padding: 5px 15px;
  font-size: 48px; }

.info-campaign {
  background-color: #F6FCFA;
  border-radius: 8px 0 0 8px;
  padding: 30px;
  padding-right: 200px;
  position: relative; }

.list-check {
  margin-top: 20px; }
  .list-check li {
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
    list-style: none; }
    .list-check li img {
      position: absolute;
      left: 0;
      top: 0; }

.img-pattern-home {
  max-width: 300px; }

.info-right-campaign {
  background: url(../images/bg-campaign.png) center top no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px; }
  .info-right-campaign h4 {
    color: #fff; }

.text-campaign {
  position: relative; }
  .text-campaign .img-quote {
    position: absolute;
    top: -80px;
    right: 0;
    left: 0;
    margin: 0 auto; }

.box-countdown {
  margin-top: 40px;
  width: fit-content; }
  .box-countdown p {
    font-size: 18px;
    color: #11A63E;
    display: inline-block; }
    .box-countdown p:last-child {
      font-size: 24px;
      color: #022541;
      margin-top: 40px;
      margin-left: 50px; }
  .box-countdown #timer {
    text-align: center;
    display: flex;
    margin: 20px 0;
    color: #11A63E; }
    .box-countdown #timer .text-timer {
      position: absolute;
      top: 38px;
      text-align: center;
      left: 0;
      right: 0;
      font-size: 16px;
      margin: 15px 0;
      color: #022541; }
  .box-countdown .box-time {
    position: relative;
    margin-right: 20px; }
    .box-countdown .box-time:last-child span::after {
      content: '' !important;
      display: none; }
  .box-countdown #timer span {
    font-size: 64px;
    color: #11A63E;
    margin: 0 3px 0 15px;
    position: relative;
    font-weight: 600; }
    .box-countdown #timer span::after {
      content: ' : ';
      display: inline-block;
      margin-left: 10px; }
  .box-countdown #timer span:first-child {
    margin-left: 0; }

.khoi-ngiep .img-pattern-home {
  position: absolute;
  right: -50px;
  top: 0;
  max-width: 450px;
  z-index: 1; }

.info-time {
  color: #11A63E; }
  .info-time .date-time-event {
    border-left: 1px solid #D9D9D9;
    padding: 0 30px; }
    .info-time .date-time-event i {
      color: #11A63E; }
    .info-time .date-time-event p {
      margin-bottom: 0;
      font-size: 16px;
      margin: 0 15px; }
      .info-time .date-time-event p i {
        margin-right: 5px;
        font-weight: 600;
        font-size: 16px; }

.slider-items {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 40px; }
  .slider-items p {
    font-size: 20px;
    position: relative;
    padding-left: 70px; }
    .slider-items p .quote-slide {
      position: absolute;
      left: 0;
      top: 0;
      height: 45px;
      width: fit-content; }
  .slider-items .owl-nav {
    display: none; }
  .slider-items button:hover {
    background: transparent !important; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #11A63E !important; }

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #11A63E;
  background: #fff; }

.info-aut {
  position: relative;
  padding-left: 80px;
  margin-left: 70px;
  margin-top: 30px; }
  .info-aut img {
    position: absolute;
    left: 0;
    width: 60px !important; }
  .info-aut .detail-info-aut {
    text-align: left; }
    .info-aut .detail-info-aut p {
      padding-left: 0;
      font-size: 16px; }

.why-choose {
  background: url(../images/img-bg.png) center top no-repeat;
  background-size: cover;
  height: 100%;
  background-color: #F6FCFA; }
  .why-choose ul {
    margin-top: 50px;
    display: inline-block;
    width: 100%; }
    .why-choose ul li {
      position: relative;
      padding-left: 150px;
      list-style: none;
      width: 50%;
      float: left;
      margin-bottom: 40px; }
      .why-choose ul li img {
        height: 130px;
        position: absolute;
        left: 0; }
      .why-choose ul li p {
        padding-right: 40px; }

.info-why-choose {
  text-align: left; }
  .info-why-choose h3 span {
    font-size: 32px;
    background-color: #11A63E;
    padding: 5px 15px;
    color: #fff;
    margin-left: 10px; }
  .info-why-choose p {
    font-size: 16px;
    padding: 25px 0 0 0;
    line-height: 26px; }

.call-to-action {
  background: url(../images/img-green-bg.png) center top no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom: 0; }
  .call-to-action .info-call-to-action {
    display: flex;
    align-items: center; }
    .call-to-action .info-call-to-action img {
      max-width: 500px; }
    .call-to-action .info-call-to-action .text-cta {
      padding-right: 100px; }
      .call-to-action .info-call-to-action .text-cta h3 {
        color: #fff;
        line-height: 40px;
        margin-bottom: 30px; }

.section-list-services {
  border-top: 1px solid #D9D9D9; }

.list-services-detail {
  margin-top: 25px;
  display: inline-block;
  width: 100%;
  margin-bottom: 0; }
  .list-services-detail li {
    list-style: none;
    margin-bottom: 20px;
    position: relative;
    padding-left: 25px; }
    .list-services-detail li img {
      position: absolute;
      height: 20px;
      left: 0; }
    .list-services-detail li:last-child {
      margin-bottom: 0; }

footer {
  border-top: 1px solid #D9D9D9;
  padding-top: 35px;
  padding-bottom: 50px; }
  footer .info-footer-left {
    padding-right: 200px; }
    footer .info-footer-left .logo-ft {
      display: inline-block;
      margin-bottom: 20px; }
      footer .info-footer-left .logo-ft img {
        height: 60px; }
    footer .info-footer-left .flex-center {
      justify-content: left; }
      footer .info-footer-left .flex-center a {
        font-size: 18px;
        color: #11A63E;
        display: flex;
        align-items: center;
        margin-right: 30px; }
        footer .info-footer-left .flex-center a img {
          margin-right: 10px; }
  footer ul li {
    list-style: none;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%; }
    footer ul li a {
      color: #022541; }

.banner-head-detail {
  background: #11A63E url(../images/pattern-head.png) center top no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 100px; }
  .banner-head-detail h1 {
    color: #fff;
    margin-bottom: 0;
    margin-top: 30px; }
  .banner-head-detail .flex-center img {
    max-width: 600px; }
  .banner-head-detail .banner-head-right {
    width: 60%;
    color: #fff;
    padding-right: 60px; }
    .banner-head-detail .banner-head-right h1 {
      margin-top: 0; }
    .banner-head-detail .banner-head-right p {
      margin-bottom: 0;
      margin-top: 20px; }

.bg-services {
  background-color: #F5F7FB;
  border-radius: 20px;
  padding: 27px 20px 0 20px; }

.cate-services {
  margin: 60px 0; }
  .cate-services h3 {
    margin-bottom: 30px; }
  .cate-services .item-service.services-large {
    padding-left: 210px;
    min-height: 202px; }
    .cate-services .item-service.services-large .avatar-thumb {
      width: 170px;
      left: 15px; }
    .cate-services .item-service.services-large .info-item-service a {
      font-size: 20px;
      margin-bottom: 15px;
      display: inline-block; }
  .cate-services .item-service p {
    line-height: 28px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.section-intro-services img {
  width: 100%;
  border-radius: 4px; }

.intro-service img {
  height: 26px;
  width: fit-content;
  border-radius: 0; }

.time-doing {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around; }
  .time-doing p {
    font-size: 35px;
    color: #11A63E;
    line-height: 50px;
    margin-bottom: 0; }
    .time-doing p span {
      font-size: 75px;
      line-height: 75px; }

.section-hang-muc .col-md-4:nth-child(2) .hang-muc {
  margin-left: 30px; }

.hang-muc {
  background-color: #11A63E;
  height: 100%;
  padding: 30px 25px;
  border-radius: 8px;
  color: #fff;
  position: relative; }
  .hang-muc .list-check li {
    margin-bottom: 25px; }
    .hang-muc .list-check li:last-child {
      margin-bottom: 0; }
  .hang-muc.bg-blue {
    background-color: #439BD8; }

.box-process {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #11A63E;
  text-align: center;
  min-height: 282px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.1); }
  .box-process p {
    margin-bottom: 0; }
  .box-process img {
    height: 80px;
    margin-bottom: 15px; }

.number-style {
  padding: 3px 20px 10px 15px;
  border-radius: 8px 0px 540px 0px;
  color: #fff;
  background-color: #11A63E;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  text-align: center; }

.bieu-phi-table {
  background-color: #F6FCFA; }
  .bieu-phi-table .custom-scrollbar {
    overflow-x: hidden; }

.bieu-phi {
  background-color: #F5F7FB;
  padding-top: 50px; }
  .bieu-phi .row {
    max-width: 1220px;
    margin: 0 auto;
    margin-top: 20px; }
  .bieu-phi .col-md-4:nth-child(2) .chi-tiet-phi, .bieu-phi .col-md-4:nth-child(3) .chi-tiet-phi {
    background-color: #439BD8;
    color: #fff; }
    .bieu-phi .col-md-4:nth-child(2) .chi-tiet-phi span, .bieu-phi .col-md-4:nth-child(3) .chi-tiet-phi span {
      color: #fff; }
  .bieu-phi .col-md-4:nth-child(2) .list-check li, .bieu-phi .col-md-4:nth-child(2) .box-price p, .bieu-phi .col-md-4:nth-child(3) .list-check li, .bieu-phi .col-md-4:nth-child(3) .box-price p {
    color: #fff; }
  .bieu-phi .col-md-4:nth-child(2) .btn-action a, .bieu-phi .col-md-4:nth-child(3) .btn-action a {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff; }
  .bieu-phi .col-md-4:nth-child(3) .chi-tiet-phi {
    background-color: #11A63E; }
  .bieu-phi .col-md-4:nth-child(3) .btn-action a {
    color: #11A63E;
    background-color: #fff;
    border: 1px solid #fff; }
    .bieu-phi .col-md-4:nth-child(3) .btn-action a:hover {
      color: #fff !important; }

.chi-tiet-phi {
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.16));
  background-color: #fff; }
  .chi-tiet-phi .list-check {
    padding: 40px 40px 40px 50px;
    margin: 0; }
    .chi-tiet-phi .list-check li {
      font-size: 14px;
      color: #666668;
      padding-left: 30px; }
      .chi-tiet-phi .list-check li img {
        height: 22px; }

.tieu-de-phi {
  position: relative;
  padding: 40px 40px 0 100px; }
  .tieu-de-phi p {
    margin-bottom: 0;
    font-size: 20px; }
  .tieu-de-phi img {
    position: absolute;
    left: 50px;
    height: 44px; }

.box-price {
  border-top: 1px solid #E9E9E9;
  padding-top: 25px;
  padding-bottom: 40px; }
  .box-price .btn-action a {
    max-width: 218px;
    width: 100%; }
  .box-price p {
    font-size: 32px;
    color: #11A63E; }
    .box-price p span {
      color: #666668;
      font-size: 14px;
      color: #666668; }

.bg-brand {
  background-color: #11A63E; }

.desc-title span {
  font-size: 18px; }

.box-camket {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #FFF;
  padding: 15px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
  margin-bottom: 30px; }
  .box-camket img {
    height: 60px; }
  .box-camket p {
    font-size: 18px;
    padding-left: 15px; }

.video-bg {
  max-width: 1185px;
  margin: 0 auto; }

.accordion {
  border: 0;
  margin-top: 35px; }

#faq .card {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #D9D9D9; }
  #faq .card:last-child {
    border-bottom: 0; }

#faq .card .card-header {
  border-bottom: 1px solid #D9D9D9;
  padding: 0; }

#faq .card .card-body {
  font-size: 15px;
  padding-left: 25px;
  padding-top: 0;
  text-align: justify; }
  #faq .card .card-body p {
    position: relative;
    padding-left: 30px;
    margin-top: 15px;
    display: inline-block; }
    #faq .card .card-body p i {
      position: absolute;
      left: 0;
      font-size: 20px;
      top: 5px;
      font-weight: 800; }

#faq .card .card-header .btn-header-link {
  font-size: 20px;
  color: #022541;
  display: block;
  text-align: left;
  background: #fff;
  padding: 20px 25px;
  border-radius: 0;
  font-weight: 500; }

#faq .card .card-header .btn-header-link:after {
  content: "\e648";
  font-family: 'themify';
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #11A63E !important; }

#faq .card .card-header .btn-header-link.collapsed {
  color: #022541; }

#faq .card .collapsing {
  background: #fff;
  line-height: 30px; }

#faq .card .collapse {
  border: 0; }

#faq .card .collapse.show {
  background: #fff;
  line-height: 30px;
  color: #022541; }

.table-bieu-phi p {
  color: #fff;
  background-color: #11A63E;
  border-radius: 8px 8px 0 0;
  padding: 15px 10px;
  margin-bottom: 0;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase; }
.table-bieu-phi tbody {
  border: 1px solid #D9D9D9;
  border-top: 0; }

.table-thanh-phan {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0 0 8px 8px;
  overflow: hidden; }
  .table-thanh-phan td {
    padding: 12px 24px;
    position: relative; }
    .table-thanh-phan td span {
      text-align: center;
      position: absolute;
      right: 30px;
      display: inline-block;
      width: 100%; }
  .table-thanh-phan thead th {
    background: #1C3C55;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 24px;
    color: #fff; }
  .table-thanh-phan tr:nth-child(odd) {
    background-color: #F5F7FB; }
  .table-thanh-phan tr:nth-child(even) {
    background-color: #fff; }

.cate-services.blogs-services .item-service .avatar-thumb a {
  padding-top: 90%; }

.blogs-services .item-service {
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.17);
  border: 1px solid transparent;
  transition: all .3s ease-in-out; }
  .blogs-services .item-service:hover {
    border: 1px solid #11A63E; }
  .blogs-services .item-service svg {
    bottom: 10px;
    transform: rotateX(178deg);
    top: inherit; }

.cate-services.blogs-services h3 {
  margin-bottom: 15px; }

.slider-item-blogs .item.box-item {
  width: 100%;
  display: flex;
  align-items: center; }
  .slider-item-blogs .item.box-item h2 {
    padding-right: 30px; }

.head-blogs-cate img {
  width: 100%; }
.head-blogs-cate .owl-nav {
  display: none; }
.head-blogs-cate .owl-dots {
  text-align: left; }
.head-blogs-cate button:hover {
  background-color: transparent !important; }

.item-news {
  border-radius: 8px;
  background: var(--white, #FFF);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
  padding: 15px;
  margin-bottom: 30px; }
  .item-news h5 {
    padding-top: 15px; }
    .item-news h5 .title-news {
      font-size: 18px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #022541; }
  .item-news img {
    border-radius: 8px; }
  .item-news .name-cate {
    color: #1C3C55;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 20px; }
  .item-news:hover {
    cursor: pointer; }

.no-container {
  padding: 0 15px; }

.section-library .sticky-box {
  padding-left: 10px; }
.section-library .tab-library .nav-item {
  border-bottom: 1px solid #D9D9D9 !important; }
  .section-library .tab-library .nav-item:last-child {
    border-bottom: 0; }
.section-library .tab-content {
  max-width: 866px;
  margin: 0 auto; }

.section-detail-blogs .tab-content-blog {
  padding-left: 15px; }
.section-detail-blogs .editor-body {
  max-width: 866px !important;
  margin: 0 auto; }

.tab-content-blog h6 {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 20px; }
.tab-content-blog ul li {
  list-style: none;
  margin: 10px 0;
  display: inline-block;
  width: 100%; }
  .tab-content-blog ul li a {
    font-size: 16px;
    color: #022541; }

.back-to-link {
  padding-top: 20px;
  display: inline-block; }

.back-to-link, i {
  color: #fff;
  font-size: 18px; }
  .back-to-link i, i i {
    margin-right: 10px; }
  .back-to-link:hover, i:hover {
    color: #fff; }

.box-shadow {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.11);
  padding: 30px; }

.info-contact-box {
  padding: 0 90px; }

.info-contact {
  text-align: center; }
  .info-contact .avatar-thumb {
    margin-bottom: 30px; }
    .info-contact .avatar-thumb a {
      padding-top: 25%; }
      .info-contact .avatar-thumb a img {
        border-radius: 2px; }
  .info-contact span {
    color: #666668;
    font-size: 16px;
    margin: 12px 0;
    display: inline-block;
    width: 100%; }
  .info-contact .hotline-contact {
    font-size: 32px;
    color: #11A63E;
    display: inline-grid;
    justify-items: center; }
    .info-contact .hotline-contact img {
      margin-bottom: 15px; }

.contact-form {
  height: 100%;
  padding: 30px 40px; }
  .contact-form h5 {
    margin-bottom: 20px; }
  .contact-form .two-filed-col {
    display: flex;
    justify-content: space-between; }
    .contact-form .two-filed-col .form-group {
      width: 100%; }
  .contact-form .btn-common-fill img {
    margin-left: 10px; }

.section-policy .editor-body {
  max-width: 1000px;
  margin: 0 auto; }

.page-404 {
  max-width: 690px;
  margin: 0 auto; }
  .page-404 h3 {
    margin: 25px 0; }
  .page-404 .img-404 {
    max-width: 200px; }
  .page-404 .btn-action a svg {
    margin-left: 10px; }

.section-library h5 {
  margin-bottom: 20px; }
.section-library .bg-green {
  background-color: #F6FCFA;
  border-radius: 8px;
  padding: 20px; }
.section-library .bg {
  display: inline-block;
  width: 100%; }

.tab-library .nav-tabs {
  border-bottom: 0; }
.tab-library .nav-item {
  width: 100%;
  padding: 15px 10px 15px 0;
  color: #022541; }
  .tab-library .nav-item:hover {
    border: 1px solid transparent;
    color: #11A63E; }
.tab-library .nav-tabs .nav-link.active {
  border: 0;
  color: #11A63E; }

.box-search-course {
  position: relative; }
  .box-search-course i {
    position: absolute;
    left: 20px;
    color: #1C3C55;
    font-weight: 700;
    top: 18px; }
  .box-search-course input {
    padding-left: 50px;
    border: 1px solid #1C3C55;
    border-radius: 8px;
    height: 55px;
    font-size: 16px; }
    .box-search-course input::placeholder {
      color: #9AABB9;
      font-size: 16px; }

.list-tag {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 30px; }
  .list-tag ul {
    margin: 0;
    display: inline-block; }
    .list-tag ul li {
      list-style: none;
      float: left;
      margin-right: 10px;
      padding-bottom: 0px;
      margin-bottom: 10px;
      border-bottom: 1px solid #11A63E; }
      .list-tag ul li a {
        color: #11A63E;
        font-size: 16px;
        text-align: center; }

/* --------------Checkbox-------------------- */
.custom-checkbox {
  margin-right: 40px; }

.input-custom {
  display: none; }

.label-custom {
  color: #022541;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  font-weight: normal !important;
  margin-bottom: 0; }
  .label-custom:checked {
    color: #11A63E !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 14px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 1px solid #022541;
    box-sizing: border-box;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #022541 !important; }

.input-custom:checked + .label-custom::before {
  color: #11A63E;
  border: 1px solid #11A63E; }

.input-custom:checked + .label-custom {
  color: #022541 !important; }

.bg-brown {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #F5F7FB;
  border-radius: 8px;
  padding: 20px; }

.list-post-library {
  display: flex;
  align-items: start;
  padding: 30px 0;
  border-bottom: 1px solid #D9D9D9; }
  .list-post-library p {
    padding-right: 50px; }
  .list-post-library ul {
    margin: 0; }
    .list-post-library ul li {
      list-style: none;
      display: inline-block;
      margin-bottom: 5px;
      font-size: 14px; }
      .list-post-library ul li span {
        font-size: 14px; }
      .list-post-library ul li:last-child span {
        color: #11A63E; }
  .list-post-library .btn-common-white {
    border: 1px solid #11A63E !important;
    max-width: 230px;
    width: 100%; }
    .list-post-library .btn-common-white:hover {
      background-color: #dcf9e5 !important;
      color: #11A63E !important; }

.btn-action-lib {
  display: inline-block;
  max-width: 130px;
  width: 100%; }
  .btn-action-lib a {
    margin-bottom: 10px; }
    .btn-action-lib a:last-child {
      margin-bottom: 0; }
  .btn-action-lib .btn-common-white {
    border: 1px solid #11A63E !important; }

.col-right-lib img {
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%; }

.border-none {
  border: 0; }

/* Status Sucess Noti */
.status-sucess-noti, .status-err-noti {
  position: absolute;
  right: 0;
  border-radius: 8px;
  background: #17C964;
  padding: 20px;
  max-width: 300px;
  border-radius: 8px;
  color: #fff; }

.status-err-noti {
  background: #F31212; }

.head-lib h3 {
  color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center; }

.box-date-time-lib {
  background-color: #F6FCFA; }
  .box-date-time-lib .list-post-library {
    padding: 0;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0;
    padding: 15px 0; }
    .box-date-time-lib .list-post-library ul li {
      font-size: 18px;
      margin: 0 30px; }
      .box-date-time-lib .list-post-library ul li span {
        font-size: 18px; }

.body-lib {
  max-width: 100% !important;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.07);
  padding: 0 10px 10px 10px;
  text-align: center; }

.section-contact .mail-contact:hover {
  color: #11A63E; }
.section-contact .mail-contact img {
  margin-right: 10px; }

.call-to-action-btn {
  display: none; }

.hh-videos {
  width: 80%;
  margin: 0 auto; }
  .hh-videos .video-cans {
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: cover !important;
    height: 675px;
    cursor: pointer; }
    .hh-videos .video-cans img {
      width: 100%; }
  .hh-videos .overlay {
    width: 100%;
    margin: 0 auto;
    height: 675px;
    display: none; }
    .hh-videos .overlay._active {
      display: block; }
      .hh-videos .overlay._active iframe {
        width: 100%;
        height: 662px; }

/*# sourceMappingURL=style.css.map */
